[2015-01-29 03:09] shaunakv1 opened #710 "Subversion Server support for Strider"
Does strider support SVN repositories?

[2015-01-29 08:06] keyvanfatehi commented on #602
@zemug hmm, sounds like something they would be able to address via their issue tracker more quickly than we would be able to address by adding the desired functionality to strider. That said, I think we'll have this feature eventually, someone just has to want it badly enough to make a runner plugin. @jaredly may have some suggestions (and code) in case you want to take this on. Currently the clo

[2015-01-29 08:09] keyvanfatehi commented on #710
@shaunakv1 I don't think anyone has written a plugin for it, although you could in theory build one by understanding how the git provider works https://github.com/Strider-CD/strider-git and creating a subversion one.

[2015-01-29 18:51] knownasilya commented on #272
Closing, since this works.

[2015-01-29 18:51] #272 closed

[2015-01-30 15:15] knownasilya opened #711 "Don't restart Strider if build in progress"
This is in relation to the plugin manager. Because if you have a build running it will error it and the build will fail, since the plugin manager restarted strider. Maybe have it do a check, and then do a check periodically until there are no jobs running?

What are your thoughts @keyvanfatehi?

[2015-01-30 16:23] keyvanfatehi commented on #711
Yeah, we must add this...

[2015-01-30 17:01] fernandoneto opened #712 "Can't get any information only for 1 project."
Hi,

in one of my projects of strider i cant get any information as you can see in image:
![strider](https://cloud.githubusercontent.com/assets/6515784/5979550/8d9c15d2-a8a0-11e4-8df2-28b1a6c6a863.png).

All my other projects are running correct, only this one have this problem.
maybe the problem is with mongodb, some table related with the job/project.

I also updated strider to last version and

[2015-01-30 17:08] knownasilya commented on #712
Have you tried deleting the project and adding it back in?

[2015-01-30 18:35] Nepoxx commented on #522
@keyvanfatehi If I'm understanding this properly, the issue is to deploy to multiple environments (dev, qa, prod, etc.), not multiple hosts.

[2015-01-30 18:40] Nepoxx commented on #378
[ngrok](https://ngrok.com/) Will do exactly that.

@jaredly How is polling github different than polling a git repository? A generic git polling plugin might be a good alternative.

[2015-01-30 18:43] Nepoxx opened #713 "Branch priority ordering not giving a correct error if there is no wildcards"
If my understanding is correct, ordering branches in the configuration UI is only useful if we have wildcards. If that is correct, reordering the branches without wildcards gives a meaningless error:

    Error adding branch: required parameter `branches` not found.

[2015-01-30 18:45] fernandoneto commented on #712
@knownasilya

thank you, among so many hypotheses in my head i don't remenber this one....... :)

[2015-01-30 18:45] #712 closed

[2015-01-30 18:51] knownasilya commented on #713
Branches need some work..

They should populate automatically.
Also, I have a branch with no name and can't delete it. Not sure how it got there..

[2015-01-30 19:04] bitwit commented on #378
I suppose it's worth mentioning here that the strider-scheduler plugin I made does polling:

https://github.com/bitwit/strider-scheduler

We don't currently use this at our workplace, but it works and I'll support an reported issues.

[2015-01-30 19:24] knownasilya commented on #378
@bitwit we should add that to the ecosystem-index

[2015-01-31 00:29] doublerebel commented on #348
Really good thoughts here, where did this feature leave off?  Can we currently deploy at a previously tested commit using Strider?  I would love to have a Rollback button to roll back to any selected previous test.

[2015-01-31 02:01] doublerebel commented on #667
I also think the cleanest way to incrementally migrate to a new frontend is with a separate project talking to REST backend.

I primarily use [Spine](https://github.com/spine/spine) for SPAs but out of Ember, React, Backbone, etc, Angular is last on my list.  Too much magic, logic in the view, and not modular enough.  However, with Strider's very modular plugin architecture, there should be a data

[2015-01-31 03:05] knownasilya commented on #667
@doublerebel I've already started on a new client written in Ember. Would love for anyone to join in, I can teach about Ember if you're new as well.

[2015-01-31 15:02] blargism commented on #576
Can we revisit this?  I get 100% CPU usage and a locked browser window on builds and deployments.  The actual processes runs fine on the server, but the client browser window completely locks up after a certain amount of time.  My build process is not overly lengthy, using the standard node build with most things running in "quiet" mode.  I would rather not have as fancy a console and just have sc

[2015-01-31 15:50] knownasilya commented on #576
Will look into either updating the console code highlighting or simplifying
some of the DOM in there. I run it on the same setup, and don't see any of
the issue,  but I'll try and profile the page.
On Jan 31, 2015 10:02 AM, "Joe Mills" <notifications@github.com> wrote:

[2015-01-31 15:57] bitwit commented on #576
I think this is related to https://github.com/Strider-CD/strider/issues/564
We had some discussion about CPU usage in that thread as well. I consistently have this problem with the build page on Chrome. Opening Task Manager usually reveals heavy CPU activity.

Is this an issue of socket.io or something? I had suspected maybe the ui is receiving tons of tiny packets line by line, but I'm not sure i

[2015-01-31 16:00] bitwit commented on #378
@knownasilya Yes, I can do this soon. If it's easier it can be forked into the Strider organization too. I just haven't field tested the plugin thoroughly, or on every git provider yet, for example.

Works like a charm but we never actually started using it at work on an ongoing basis. Like I said, I'm happy to support it though.

[2015-02-02 01:19] Evanion commented on #667
I would just like to open a discussion on using bootstrap. Other frameworks, like getuikit.com are both smaller, cleaner in code, and more feature complete (Compare the gridsystem of uikit and bootstrap), and they come with several advanced form elements (date/time- picker was mentioned).

[2015-02-02 02:16] knownasilya commented on #667
I've yet to see a good alternative for Bootstrap that is so well supported and handles mobile so well. Btw, we are sing an old version, and the plan is to upgrade. I would be open to using something else I I saw something worth while that actual compared.

[2015-02-02 10:04] Evanion commented on #667
I would argue that UIkit handles mobile better then Bootstrap. The grid system is a good example of that.
And as for support, it's developed by a company with long experience with making themes for joomla and Wordpress.

The uikit grid system works like this:

[code]
On desktop: a 4 column layout where each row is height matched individually. second row will automatically get a margin top for gutt

[2015-02-02 18:22] fernandoneto opened #715 "security issue in strider-status-report plugin"
If i try to acess to plugin URL for example  localhost:3000/ext/status-report/jobs i can get the status of all projects that i run in strider.
the problem is that I have private projects and if i GET the url it shows all jobs status.
I think the correct is acess all project status if we are logedd. if you were not you only can acess to public project.

@keyvanfatehi

[2015-02-02 20:35] keyvanfatehi commented on #715
@fernandoneto good catch, I enabled the issue tracker there and created an issue https://github.com/Strider-CD/strider-status-report/issues/3

[2015-02-02 20:35] #715 closed

[2015-02-02 22:26] shaunakv1 commented on #710
Thanks @keyvanfatehi I will start looking into it. I already built a first prototype of SVN CI in node (https://github.com/shaunakv1/nodejs-svn-continuous-deployer) .. then I found Strider :)   From a quick look at strider-git it looks like it is using all the same components, I'll try to put in some time this weekend to see if I can adapt..

[2015-02-02 23:59] fernandoneto commented on #715
ok thanks :)

[2015-02-03 10:07] leutrimhusaj commented on #590
Issue closed for me now, since switching to strider 1.6.3.
The fix is contained in lib/libconfig.js, last line was 'return defaults;' before and now 'return options;'.

[2015-02-03 15:47] knownasilya commented on #590
@leutrimhusaj :+1:

[2015-02-04 08:59] keyvanfatehi commented on #710
@shaunakv1 cool! then i think you're well-prepared to do this. you may need to work in the strider codebase and see how the "manual add" interface is working. I am pretty sure, though, that that page actually goes through the providers and renders their HTML or something like that -- you just need to look at the git provider and see...

unfortunately there are no proper docs on the subject, only r

[2015-02-04 09:27] robotiko opened #716 "Test and Deploy on Heroku fails on npm install"
Error trace:
$ git checkout -qf master
$ npm install
node: /usr/lib/libstdc++.so.6: version `GLIBCXX_3.4.15' not found (required by node)

Heroku issue? any way to solve this?

[2015-02-04 09:30] robotiko opened #717 "Account management screen is displayed empty (just left tabs but empty content) when using Firefox in"
Works correctly on Chrome, but on Firefox 35 it is shown empty.

[2015-02-04 09:49] robotiko opened #718 "When running on Heroku free plan, Plugins revert to original version after resuming from idle"
Under free plan, dyno gets idle and  the instance goes to sleep.
When dyno awakes, the plugins get back to old  versions, loosing all updates.

It seems that plugins must been saved in heroku ephemeral space  (https://devcenter.heroku.com/articles/dynos#ephemeral-filesystem).
There are ways to prevent dynos from going to sleep if there is no other solution for plugin updates.

[2015-02-04 20:22] doublerebel commented on #552
Could [overcast](https://www.npmjs.com/package/overcast) and [Shipit](https://github.com/shipitjs/shipit) be useful here?  Overcast for EC2 tooling and Shipit for deploys.  Perhaps Shipit as a Strider plugin?

Right now we're using Flightplan internally, but it doesn't have a standard deploy pattern.  I'm not aware of any comparable to Shipit's deploy tasks.  I'm able to use custom scripts + ssh d

[2015-02-05 15:57] knownasilya commented on #717
Confirmed, I'll see what I can do later today.

[2015-02-05 15:58] knownasilya opened #719 "Idea: Option to cancel in-progress jobs if new job starts"
Basically as long as the running job is not at the `deploy` phase, cancel it (cleanup), and start the new job. This should be an option in the Branch settings panel.

[2015-02-05 16:01] knownasilya commented on #718
@robotiko yeah, most of the plugins are on npm, but are not updated, since most of the contributors don't have publishing permissions for the plugins on npm.

This looks like a task for @niallo.

[2015-02-05 18:55] knownasilya commented on #719
@jaredly where can I hook (in code) into running jobs, and get at their current phase?

[2015-02-05 22:47] mistergaskill commented on #713
I'm getting the same error with a wildcard branch entry. And I'm also getting an API error when trying to add collaborators to a project: ```Error adding collaborator: required parameter `email` not found.```

It looks like the request is getting sent correctly, but the API middleware is incorrectly rejecting the request:

[code]

Could this be something the form data not populating req.params?

[2015-02-05 23:16] mistergaskill commented on #713
I figured out the bug. express' req.param function looked at req.params, req.body, and req.query http://expressjs.com/api.html#req.param - So just checking req.params is only a subset of the previous functionality. Since these settings are submitted as form data, the fields are stored in req.body - so at least for this endpoint (and the collaborator's one I mentioned) we should be checking req.bod

[2015-02-06 13:57] knownasilya commented on #713
@mistergaskill I'm not available to submit a fix atm, but would totally take a PR.

[2015-02-06 14:43] oliversalzburg opened #720 "GitHub webhooks seem to have no effect"
I recently updated our Strider instance, since then pushing to GitHub no longer causes Strider to update.

I even removed all of our projects and re-created them. Still, I can only manually test and deploy.

[2015-02-06 14:46] knownasilya commented on #720
@oliversalzburg try updating all plugins, then making sure that your github auth works. You might have to remove your github account, and re-add it to strider.

[2015-02-06 14:47] oliversalzburg commented on #720
@knownasilya All plugins are updated. I had removed and re-added my account when I removed all projects.

[2015-02-06 15:03] knownasilya commented on #720
Do you see any errors? Do you have a firewall that's been brought up?

[2015-02-06 15:21] oliversalzburg commented on #720
I don't think it's anything related to networking.

When I push to GitHub, I see nothing in the strider log. The web UI also doesn't show me anything.

I just realized there are some red triangles in the /settings/hooks page on GitHub. I'll check those real quick.

[2015-02-06 15:24] oliversalzburg commented on #720
Ugh, okay, this is definitely my fault :P Thanks anyway

![](http://i.imgur.com/OCjtCMs.png)

[2015-02-06 15:49] oliversalzburg commented on #720
http://serverfault.com/questions/665606/why-does-nginx-redirect-to-urls-with-a-trailing-slash if anyone has any ideas ;D

[2015-02-06 16:02] knownasilya opened #721 "Discuss: git 2.3 push to deploy feature"
https://github.com/blog/1957-git-2-3-has-been-released

Seems interesting, is there any way we can use this?

[2015-02-06 18:48] kadut opened #722 "413 Error: request entity too large"
Occasionally and when the merged PR is big, Strider response to the GitHub webhook is the following:

[code]

This has happened several times. Do you have any idea how we can increase the max. request size?

Thanks!

[2015-02-06 20:01] oliversalzburg commented on #720
@knownasilya After further investigation, it seems like this might not be an nginx issue after all.

When I simply run a GET with curl on the webhook URL, I also get a 301 logged in my strider log.

[2015-02-07 01:25] mistergaskill commented on #713
So this issue should be fixed by https://github.com/Strider-CD/strider/pull/723 and the issue I reported (which should have been filed as a different issue as they have different causes) should be fixed by https://github.com/Strider-CD/strider/pull/725

[2015-02-07 03:13] knownasilya commented on #720
This might be fixed with the recent PRs, could you try master?

[2015-02-07 03:59] knownasilya commented on #720
If that doesn't work, I have another idea, https://github.com/Strider-CD/strider/blob/314ef56bdd051e142f697643e9ea2e95e85af14c/lib/utils/load-extensions.js#L64

express 4 probably doesn't need this.

[2015-02-08 16:49] oliversalzburg commented on #720
I pulled the latest master, but the issue was unchanged.

I also removed the `slashes()` line you mentioned, now I don't get a 301 reply when I GET the URL (I receive a 404 instead), but the POST from GitHub still fails with a 301.

I'll take a closer look at this next week and untangle nginx from our setup once more. At this point I'm not really sure yet where the problem comes from, nginx or str

[2015-02-09 09:35] oliversalzburg commented on #720
Alright, case closed. I had the following line in our strider startup script:

    export SERVER_NAME=http://build.example.com

Note the missing `s` in `https` ;P

[2015-02-09 09:35] #720 closed

[2015-02-09 13:17] knownasilya commented on #720
Glad you found the issue!

[2015-02-09 20:31] mistergaskill opened #727 "At less than 980px window width, the logout button becomes inaccessible."
![screen shot 2015-02-09 at 12 29 54 pm](https://cloud.githubusercontent.com/assets/1447441/6115032/7423601a-b057-11e4-8b04-51cfe2d1515a.png)

As seen in the screenshot, the account management dropdown becomes cut off by the responsive header menu layout.

[2015-02-09 20:48] knownasilya commented on #722
This should be fixed in master, see the [Additional Configurations](https://github.com/Strider-CD/strider#additional-configurations) section for configuration.

[2015-02-09 20:48] #722 closed

[2015-02-09 21:19] mistergaskill opened #728 "github integration tests failing"
test/integration/github_test.js are disabled because they are failing on master. When I run them, they fail with the following error showing up in the browser:
[code]
Looks like a configuration issue of some sort, but maybe the behavior of web hooks has changed since this test was created.

[2015-02-10 15:36] oliversalzburg opened #729 "Weird branch checkout"
While deploying a project, I noticed the following in the log:

![](http://i.imgur.com/Zlhn3Nf.png)

I would expect `master` to be checked out of git, but it shows a hash instead. I was wondering if the username is leaking into the log here.

[2015-02-10 15:40] knownasilya commented on #729
@oliversalzburg is that the sha of the commit at HEAD?

[2015-02-10 16:19] oliversalzburg commented on #729
@knownasilya Oh! Maybe I never realized it before, but I expected that it would check out `dev` or `master` or whatever the branch is named.

[2015-02-10 16:19] #729 closed

[2015-02-10 16:28] knownasilya commented on #729
I'm not sure behind the reasoning, but maybe @jaredly or someone else in @Strider-CD/owners knows why it's done this way.

[2015-02-10 18:01] knownasilya commented on #729
Seems like if the build is initiated via a commit, you'd get the sha, but if you do it manually, you'd see the branch name.

[2015-02-10 18:19] oliversalzburg commented on #729
Ah, cool, that explains it. Because I was working on another issue recently, I did a lot of manual deployments and probably didn't remember the other behavior.

Thanks for taking the time to look into it.

[2015-02-10 21:25] knownasilya commented on #719
Anyone? @Strider-CD/owners

[2015-02-10 21:25] niallo commented on #719
I think you might need to add a new API for this to the runner interface.

On Tue, Feb 10, 2015 at 1:25 PM, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-02-10 21:27] knownasilya commented on #719
@niallo where's the runner interface defined?

[2015-02-11 01:12] niallo commented on #719
There used to be a wiki page. if that is out of date or gone, the
definition is in the code :-)

On Tuesday, February 10, 2015, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-02-11 11:52] mabc224 opened #730 "new Plugin route not found"
Hi guys,

I am writing a custom plugin. I use this as base template.  [https://github.com/bitwit/strider-template](https://github.com/bitwit/strider-template)
 In config/config.js, i register this route on button click.
[code]
in webapp.js
[code]

strider.json
[code]

when i try to access this path from plugin gui on button click, it says,
GET http://localhost:3000/ext/konsow/jobs 404 Not Found

I

[2015-02-11 16:23] knownasilya opened #731 "Publish 1.6.4"
:+1:

[2015-02-11 19:34] knownasilya commented on #730
@mabc224 do you have your plugin up on github, for testing?

[2015-02-11 20:26] m00t opened #732 "Can not install globally on debian 7 (1.6.3, 1.6.4)"
Can not install by `npm install -g strider` (npm tries to install version 1.6.3). Can not install by `git checkout v1.6.3 && npm install -g`. Also can not install by `git checkout v1.6.4 && npm install -g`. `npm install` works fine on both v1.6.3 and v1.6.4 tags.

npm-debug.log from installation: https://gist.github.com/m00t/e66c9502b77884adb872

P.S.
Output from npm install -g: https://gist.githu

[2015-02-12 01:30] knownasilya commented on #732
I think this has to do with the `less` dependency, since it doesn't install properly with the -g option when in dependencies.

[2015-02-12 03:10] mabc224 commented on #730
@knownasilya Here it is repo [https://github.com/mabc224/strider-plugin](https://github.com/mabc224/strider-plugin)

[2015-02-12 06:08] m00t commented on #732
How I can get output from `bower install --allow-root && npm run build`? Is there some sort of flags to keep `node_modules/strider` folder after `npm install -g` fail?

[2015-02-12 06:44] m00t commented on #732
Things became even more strange after I run `npm install -g less`. Now `npm install -g strider` (or `npm install -g` within strider checkout directory) silently fails without any error and logs:

[code]

[2015-02-12 18:49] knownasilya commented on #731
Ping @niallo

[2015-02-13 01:00] Jinkwon opened #734 "How can I install third party plugins?"
Hi, Strider.
I wanna install third-party plugin such as https://github.com/bitwit/strider-scheduler.
Can you give me some advice?
I'm using on strider stable version with npm install -g strider.

[2015-02-13 03:04] knownasilya commented on #734
Since that plugin is not in the [registry](https://github.com/Strider-CD/ecosystem-index/blob/master/plugins.yml), you will need to install it with `npm install --save strider-scheduler`.

For plugins that are in the registry, go to the "Admin > Plugins" from within Strider and install from there.

[2015-02-13 06:22] Jinkwon commented on #734
@knownasilya
I solved this problem.
Thanks.

[2015-02-13 06:22] #734 closed

[2015-02-14 17:21] mabc224 commented on #730
Any one who have command on plugin writing, kindly check it and respond back

[2015-02-15 00:23] knownasilya commented on #730
@mabc224 I'll try to have a look on monday.

[2015-02-16 15:47] fernandoneto opened #735 "Plugin discussion: plugin to auto-deploy to google-play"
I want to know what you think about create a plugin for strider to deploy .apk to google play store.
I searched a bit and discover that jenkins add [this](https://wiki.jenkins-ci.org/display/JENKINS/Google+Play+Android+Publisher+Plugin).

I wonder if you guys think it's feasible to do something like this for strider?

[2015-02-16 22:58] logankoester commented on #735
I don't whether it is feasible, but I hope so! I would love to use this plugin.

[2015-02-17 17:12] knownasilya commented on #732
@m00t did you see the note about global installs [here](https://github.com/Strider-CD/strider#running-on-infrastructure)?

[2015-02-17 18:14] m00t commented on #732
@knownasilya nope, I used this manual: http://strider.readthedocs.org/en/latest/install.html
I will try it later, thanks.

[2015-02-18 11:03] mabc224 commented on #730
@knownasilya Did you check it?

[2015-02-18 17:09] knownasilya commented on #730
@mabc224 yes, it's the order that the global routes are loaded, since there is a route of `/:org/:repo/jobs`,
this one gets intercepted by that route. This is due to the upgrade to express4, and will be solved in the next patch.

The workaround is to rename `jobs` to a route not taken already.

[2015-02-18 17:11] #731 closed

[2015-02-18 17:12] knownasilya commented on #702
@doublerebel what were you able to find out?

[2015-02-19 15:28] knownasilya commented on #730
@mabc224 does that help?

[2015-02-19 17:13] mabc224 commented on #730
@knownasilya yes. it works

[2015-02-20 12:07] fernandoneto opened #736 "Deploy only when create a new release/tag"
i would like to know if is possible configure strider to deploy using  github tags instead of using directly branch's.

[2015-02-20 14:04] knownasilya commented on #736
@fernandoneto sounds like a nice idea, although not currently supported. You might be able to write a bash script an use it in the custom scripts plugin..

[2015-02-20 14:34] fernandoneto commented on #736
@knownasilya thank you for your fast answer.
about the bash script idea i cant get your train of thought. can you please be more verbose? :)

[2015-02-20 14:44] knownasilya commented on #736
You could use something like [this](http://stackoverflow.com/a/1593574/483616) in a bash if statement in the [strider-custom](https://github.com/Strider-CD/strider-custom)'s (installed by default, enable it in the branches plugins) deploy section.

[2015-02-20 15:03] fernandoneto commented on #736
@knownasilya thank you for your help :+1:

[2015-02-20 18:11] fernandoneto commented on #736
@knownasilya in fact i think i express myself wrong. what i really want is after create a new tag based in a branch, strider is able to deploy it.

so my question is : If i create a tag in Github, strider will be notify and run based in that tag?

let me give you an example:

You and your team work in a branch for some time, every time you push commits strider run tests. So you want to send the co

[2015-02-20 18:13] knownasilya commented on #736
Ah, so you're wondering if pushing a tag will kick off a job in strider? Not sure..

[2015-02-20 18:17] fernandoneto commented on #736
Yep thats it.
maybe a plugin that give this options would be very usefull don't you think?

[2015-02-20 18:19] knownasilya commented on #736
Sounds like a feature for [strider-git](https://github.com/Strider-CD/strider-git).

[2015-02-20 18:32] knownasilya commented on #736
https://github.com/Strider-CD/strider-github/blob/master/lib/api.js#L42

[2015-02-20 20:43] bitwit commented on #736
I can confirm new tags kick off a job in Strider, at least with Github and Bitbucket. I'm not sure if it is at the provider's discretion whether or not to push that info in a webhook.

I believe only Github starts jobs for Pull Requests, but I don't think so for Bitbucket

[2015-02-20 20:47] knownasilya commented on #736
@bitwit just tags by themselves, i.e. `git push --tags`?

[2015-02-20 20:56] bitwit commented on #736
Yep, I just tested it a couple times even. They don't come back with anything in the 'branch' column though. Not sure about what the Strider metadata contains either.

![screen shot 2015-02-20 at 3 54 16 pm](https://cloud.githubusercontent.com/assets/707507/6309208/decfeda6-b918-11e4-9145-66eb8cc91391.png)

[2015-02-20 20:59] knownasilya commented on #736
Interesting, I think it's registered as a commit, because that's the default.

So yeah, builds no longer make sense to be focused on a branch so tightly.

[2015-02-23 18:49] #713 closed

[2015-02-23 18:49] knownasilya commented on #713
1.6.4 has this issue fixed

[2015-02-25 09:37] amanmohla opened #737 "Cannot connect to Bitbucket/Github with local strider installation in Safari Browser"
This might be strange as it doesn't looks like a browser based issue, but when I try access my local strider installation in Safari browser, I am unable to connect with Bitbucket or Github. I get the following error in my console.
<pre><code>
GET /projects 200 49.521 ms - -
GET /scripts/account-plugins-compiled.js 200 13.825 ms - 932
GET /scripts/plugin-config-compiled.js 200 28.935 ms - -
GET /sc

[2015-02-25 13:17] knownasilya commented on #732
@m00t were you successful?

[2015-02-25 14:13] m00t commented on #732
@knownasilya Sorry, did not have time for testing yet.

[2015-02-27 20:23] m00t commented on #732
Tried this. Got unlimited
[code]

[2015-02-27 20:29] knownasilya commented on #732
@m00t so if you follow that note about installing global modules, you shouldn't be using sudo.

If this isn't working, just clone the repo and do `npm install` inside.

[2015-02-27 20:41] m00t commented on #732
@knownasilya what note should I follow to not using `sudo`? I use `npm install -g strider` without sudo, but other commands like `npm config` etc was ran with sudo because I forgot to remove sudo: yes from my ansible playbook. Can it be the case?

`npm install` inside repo works.

[2015-02-27 20:45] knownasilya commented on #732
The one [here](https://github.com/Strider-CD/strider#running-on-infrastructure) under the `npm install`

[2015-02-27 20:50] m00t commented on #732
@knownasilya This note says nothing about sudo. Also I followed it completely. Tried to install everything from scratch without sudo, no luck.

[2015-02-27 21:06] m00t commented on #732
@knownasilya  Ow, I see. I should not install modules for root too?

[2015-02-27 21:09] knownasilya commented on #732
You should never use sudo for npm modules global or local.

[2015-02-27 21:18] m00t commented on #732
@knownasilya works fine when I do not try to install strider as root. I think this should be pointed clearly, because it is not obvious that `~` should not actually be `/root`

[2015-02-28 01:52] chrisfosterelli commented on #732
Also running into this problem. @knownasilya do you have any resources for not using sudo to install global modules? AFAIK this is common practice...

[2015-02-28 01:56] chrisfosterelli commented on #732
In fact, it looks like the [official stance](https://github.com/npm/npm/issues/3139#issuecomment-13358582) is that packages should work while being installed with `sudo` or else they are considered broken.

[2015-02-28 12:14] knownasilya commented on #732
@chrisfosterelli run (as normal user) `npm config set prefix ~/npm` to set your global modules directory to '~/npm'. You will also have to add ~/npm/bin to your PATH environment variable. Also installing node with `n` or `nvm` is recommended, especially since ubuntu botches that install so often.

On the other end, node-gyp is a special case since it compiles the systems native c++ libraries to bu

[2015-02-28 15:27] kauegimenes opened #738 "Corporate Proxy Support"
Hello, its possible to include a option to set a corporate proxy?

I am unable to connect with bitbucket because of this.

[code]

[2015-02-28 18:23] chrisfosterelli commented on #732
@knownasilya I understand the process to reconfiguring that, I was wondering if you had any resources stating that you should not install modules globally when you said "You should never use sudo for npm modules global or local", which doesn't seem to be the official stance. I'd like to install my global modules _globally_, and I'm sure lots of other users would too.

At any rate, this is certainl

[2015-02-28 19:26] chrisfosterelli commented on #732
The permission error appears to be what's happening, because if I add a `whoami` to the `postinstall` script then I get `nobody` as the result. As a temporary workaround, you can create a world-writeable directory that `nobody` can write to and use that as `HOME`.

[code]

That works for me on Ubuntu with Strider@1.6.4, but isn't exactly a fix.

I guess this issue is that bower is trying to use th

[2015-03-01 10:28] alivxlive opened #739 "Mongo user and password config"
in which file can I edit or add mongodb port and host, user name and password. and the database name

[2015-03-02 12:49] knownasilya commented on #739
Use the `DB_URI` environment variable. This is the [format](http://docs.mongodb.org/manual/reference/connection-string/).

[2015-03-02 22:50] bitwit commented on #591
We've been thinking about something like this at work recently too. There's an increasing need to get more functionality that something like a configuration server might do, but, you know... without all the hassle of starting up a configuration server :)

Is there currently a plugin type that modifies UI on the status pages?
I also haven't delved into custom routes at all, and what potential that

[2015-03-03 07:37] alivxlive commented on #739
mm, I did not get your point,
I want to change the setting in the strider-cd config file.

[2015-03-03 14:09] knownasilya commented on #739
The config file would be `.striderrc` and it's JSON and it would be `{ "db_uri": "yoururihere" }`

[2015-03-07 01:49] supermarin commented on #602
@keyvanfatehi docker isn't supported by OSX, so the closest you can get is a "vagrant server".
I think this shouldn't be coupled with anything than a SSH connection

[2015-03-09 18:59] kauegimenes commented on #738
I have the same problem with the page /admin/plugins
[code]

[2015-03-09 19:05] knownasilya commented on #738
Probably worth implementing with https://github.com/nodejitsu/node-http-proxy

[2015-03-09 19:11] knownasilya commented on #738
@kauegimenes would there be an http and https url, or just a base url without the http/https prefixes?

[2015-03-09 19:55] kauegimenes commented on #738
I was thinking about using https://www.npmjs.com/package/global-tunnel
The proxy setting is the same for http & https.

[2015-03-09 20:07] kauegimenes commented on #738
@knownasilya Just tested global-tunnel and everything works just fine.

The only modification was to include this code in the main.js file:
var globalTunnel = require('global-tunnel');
globalTunnel.initialize({
  host: '10.0.0.10',
  port: 8080
});

[2015-03-09 20:10] knownasilya commented on #738
@kauegimenes feel free to submit a PR, which should enable the tunnel if `PROXY_HOST` env is set, otherwise I'll get to it when I have time.

[2015-03-10 01:07] kauegimenes commented on #738
@knownasilya I think the correct env variable to use is HTTP_PROXY and HTTPS_PROXY right?

[2015-03-10 01:25] kauegimenes commented on #572
+ 1 for this feature!

[2015-03-10 09:40] rimusz commented on #572
+1 for this one too

[2015-03-10 11:42] knownasilya commented on #738
@kauegimenes those are the envs for npm, if global tunnel uses those, then yes.

[2015-03-10 12:15] knownasilya commented on #738
Looks like just `http_proxy` is [honored](https://www.npmjs.com/package/global-tunnel#auto-config)

[2015-03-10 18:08] kauegimenes opened #740 "Project not deploying after POST on /start/"
Hello,

I have set the option Deploy on Green but nothing happens after the test.

I already have a Runner with my custom scripts setup.

I am missing something?

Thanks.

[2015-03-10 18:17] knownasilya commented on #740
How are you triggering the test (exact command please - minus sensitive data)?

[2015-03-10 18:21] kauegimenes commented on #740
@knownasilya This is the first project i am trying to implement with strider, for now the project dont have any tests.

My Node plugin is test command is: No test command.

If i click the test & deploy button everything works.

[2015-03-10 18:35] kauegimenes commented on #740
@knownasilya After i tried to create the hook with bitbucket i was able to see the POST request in the server log, but strider is not even running the tests.

POST /cnova/seo-monitor/start/ 302 3.360 ms - 40

But if i simulate the POST the system is able to test the project but without deploying it

[2015-03-10 18:37] kauegimenes commented on #738
@knownasilya Great, i will submit a PR when i have some time avaliable!

Thanks!

[2015-03-10 18:56] knownasilya commented on #740
@kauegimenes see https://github.com/Strider-CD/strider-cli#runtest

[2015-03-10 19:06] kauegimenes commented on #740
@knownasilya The output is "Login error"
I double checked my email and changed my password twice, still not able to runTests using this command.

[2015-03-10 19:07] kauegimenes commented on #740
@knownasilya Also, about the Bitbucket implementation i was able to debug the request and looks like Stride is redirecting the POST to the login page.

[2015-03-10 19:11] kauegimenes commented on #740
[strider]$ bin/strider addUser -l striderTestingRandom21341@testing.com -p 2jkd93j49fkjddo239 -a true
Connecting to MongoDB URL: mongodb://localhost/strider-foss
User added successfully! Enjoy.
[strider]$ bin/strider runTest -l striderTestingRandom21341@testing.com -p 2jkd93j49fkjddo239  -j proj/testing
Login error

[2015-03-10 19:12] knownasilya commented on #740
@kauegimenes try installing strider-cli from master branch, I just added a console log for the error.

[2015-03-10 19:13] knownasilya commented on #740
`npm install Strider-CD/strider-cli` should do it

[2015-03-10 19:20] kauegimenes commented on #740
i just executed `npm install strider-cli` in the root folder of strider:
[code]
But i am still not able to use the command runTest:
[code]

[2015-03-10 19:24] knownasilya commented on #740
I didn't publish to npm, so you have to use the command above..

[2015-03-10 19:26] kauegimenes commented on #740
@knownasilya  I was able to make the command runTest work, the problem only happens when i am running strider on a different port, i run without the `PORT` env i got the message `Job started`

[2015-03-10 19:32] kauegimenes commented on #740
@knownasilya Also the only difference is that https://github.com/Strider-CD/strider-cli/blob/005b6eb3ae55d6bfce15aebf4794297912d16bb8/run.js posts the ` postData.type = 'TEST_AND_DEPLOY';` I already tested with this data in the POST and works fine.

[2015-03-10 19:32] knownasilya commented on #740
@kauegimenes if you could still pull down the master version so that we can know what the error was so we can track it down.

[2015-03-10 19:33] knownasilya commented on #740
You must have setup your provider with a different port, and then changed it after, so that the provider has the wrong port for the post hook?

[2015-03-10 19:35] kauegimenes commented on #740
@knownasilya No, i aways used the same port since i started using strider.

[2015-03-10 19:42] kauegimenes commented on #740
@knownasilya Just updated the strider-cli to the master version, thats the output:
[code]

[2015-03-10 19:43] knownasilya commented on #740
Try again, I made a typo.

[2015-03-10 19:47] kauegimenes commented on #740
Here:
[code]

If you need help with the debug feel free to add me on skype (kaue@dot.net)

[2015-03-10 22:50] kauegimenes commented on #738
@knownasilya Just created a PR https://github.com/Strider-CD/strider/pull/741
If you need any changes let me know.

[2015-03-11 13:00] knownasilya commented on #740
Ok, sounds like my suspicions were right between mismatch of ports in the provider and what you were trying.

[2015-03-11 13:01] knownasilya commented on #739
@alivxlive did you get it working?

[2015-03-11 13:01] knownasilya commented on #738
In master, will be shipped in 1.7.0

[2015-03-11 13:01] #738 closed

[2015-03-11 13:03] knownasilya commented on #737
@amanmohla what do you mean  by "connect to bitbucket"? Are you trying to add a project?

Steps to reproduce would be appreciated.

[2015-03-11 13:49] kauegimenes commented on #740
@knownasilya Hmm ok, whats the solution?

[2015-03-11 13:52] knownasilya commented on #740
@kauegimenes don't change the port after you've used one. Otherwise you can delete the hooks in your provider (github, bitbucket, ..) and set them up again with the new port.

[2015-03-11 20:14] shaymarketing opened #742 "Error running test on bitbucket repo (spawn git ENOENT)"
I am getting the following error trying to run a test on a new project. Any idea on how to resolve this?
Thanks.

 spawn git ENOENT
 environment
// Config merged from strider.json
 prepare -1
$ git clone --recursive git@bitbucket.com:myrepo/repotest1 . -b br2015-02-27 bitbucket  -1
An unexpected error occurred while executing this job. Please report at https://github.com/Strider-CD/strider/issues

[2015-03-11 22:42] kauegimenes commented on #740
@knownasilya I am not linking the account to integrate with bitbucket, i created the hook, you guys have any documentation on how i should create the hook? the url should just be /start/? There is no need for any auth?

Thanks.

[2015-03-12 14:19] knownasilya commented on #742
@shaymarketing sounds like you don't have git installed on your machine.

[2015-03-12 15:08] knownasilya commented on #740
You'd have to recreate your project in Strider. So delete it first, and then re-add it via the projects page.

[2015-03-12 15:11] knownasilya commented on #739
If you still need help, feel free to ask any questions here, or create more specific issues.

[2015-03-12 15:11] #739 closed

[2015-03-12 15:13] knownasilya commented on #732
Yeah not sure, probably not using bower, or having a script for pulling out the used files from the dependencies and committing those.

[2015-03-12 15:27] fernandoneto commented on #736
@knownasilya i already have strider start from release new tags. my proble now is the same as @bitwit . i can get any information in branch column.
![captura de ecra de 2015-03-12 15 23 52](https://cloud.githubusercontent.com/assets/6515784/6621026/0d9572ec-c8cc-11e4-85f2-c94090f5000c.png)

Could you tell me the file i found that confguration?

[2015-03-12 15:28] knownasilya commented on #736
@fernandoneto tags are not placed on branches, so you can't have branch info. This is why fundamentally strider needs to be reworked to have builds not heavily tied to branches.

[2015-03-12 15:29] knownasilya commented on #736
Although, github releases might be tied to branches.

[2015-03-12 17:43] knownasilya commented on #559
So we should use js-data.io

[2015-03-12 17:49] kauegimenes commented on #740
@knownasilya I never changed the port on strider, maybe its because i am using the env in the command ? `PORT=8888 npm start`

[2015-03-12 17:52] niallo commented on #559
My gut feeling here is too much magic. Write a concrete data access layer
specific to the application, rather than trying to use a magic layer.

For example, there might be high level functions such as:

[code]

[2015-03-12 17:55] knownasilya commented on #559
Sounds exactly like js-data, not too crazy and has support for adapters, mongo included.

[2015-03-12 17:56] knownasilya commented on #740
That should work. So you used `PORT` right from the beginning and every time since then?

[2015-03-12 17:58] kauegimenes commented on #740
@knownasilya Yes, in my current implementation its impossible to open strider dashboard if its in another port.

Can you help me find where the bug is located?

[2015-03-12 17:59] niallo commented on #559
There's an important different which is that js-data is an ORM (or ODM) not
an API. You can do whatever you want, which will lead to performance and
architectural problems in the future (similar to Mongoose now).

On Thu, Mar 12, 2015 at 10:55 AM, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-03-12 18:01] knownasilya commented on #559
Yeah, I think we are on the same page now :+1:. Time to start sketching out the model API.

[2015-03-12 18:32] kauegimenes commented on #596
@keyvanfatehi Maybe my implementation of HTTP_PROXY env will help you?

[2015-03-12 18:36] kauegimenes commented on #463
@camtera You should use the pm2 deploy command insead of pm2 start.

[2015-03-12 19:35] shaymarketing commented on #742
@knownasilya Thanks for replying. I have git installed. I use bitbucket and github every day.

git version 1.9.4.msysgit.2

[2015-03-12 19:40] knownasilya commented on #742
@shaymarketing otherwise it looks like something doesn't exist.. a file or directory, maybe a branch..

[2015-03-12 19:41] shaymarketing commented on #742
btw, the git clone command mentioned in the error log above works for me when executed from the CLI; but seems to be failing when I press the Test button in the Strider UI.

[2015-03-12 19:48] Pithikos commented on #95
@cusspvz thanks for the link but I am still unsure how to install it. [This](https://github.com/Strider-CD/strider/wiki/Managing-Plugins) doesn't work for me and I don't seem to be able and find instructions on how to install the plugin manually. Isn't there a way to just `git clone` in a folder?

Notice that I don't have experience with node.js and I run Strider in a Docker container.

[2015-03-12 19:50] knownasilya commented on #95
@Pithikos just use the plugin manager from 'Admin' menu.

[2015-03-12 19:51] knownasilya commented on #742
@shaymarketing maybe the directory it's trying to clone to doesn't have write permissions?

[2015-03-12 19:54] Pithikos commented on #95
The only plugins I see as *Available* are:

* Email Notifier
* Environment
* Heroku
* Metadata
* Node
* Python
* Ruby
* Slack
* SSH Deply

Am I missing something?

[2015-03-12 19:59] knownasilya commented on #95
@Pithikos sounds like you looking in a projects plugin section, not the 'Admin' plugins section

[2015-03-12 21:00] Pithikos commented on #95
I thought you meant that since on the Admin tab there is only Invites, Users and Projects. Check pic below.

[](http://s10.postimg.org/e4i9b3cbd/Screenshot_from_2015_03_12_20_58_11.png)

[2015-03-12 21:03] knownasilya commented on #95
@Pithikos what version of Strider are you using? Plugin manager is available since 1.6.0 https://github.com/Strider-CD/strider/blob/master/ROADMAP.md#160---2015-01-10

[2015-03-12 21:04] knownasilya commented on #95
If you don't feel like upgrading, do `npm install strider-build-badge --save` in the strider directory.

[2015-03-12 23:17] cusspvz commented on #736
Hey @knownasilya !

@fernandoneto is my co-worker/mate!! :)
I asked him to place and follow up this discussion so we can fire releases to our production servers directly from **GitHub** releases instead of branch updates. Thanks for bringing up discussion about this so far!

**GitHub** releases are created on top of git tags, which means that you couldn't have a **GitHub** release without having a

[2015-03-12 23:20] cusspvz commented on #736
Note: I didn't tested it, but i think it might work.

[2015-03-13 11:42] knownasilya commented on #736
So that most likely will work, but the problem is that strider expects a certain output to keep the reference of your build, and this output happens to be the branch information. For tags to be supported, properly, strider needs some changes. Currently it will probably hit the `*` "branch" when you use a tag.

[2015-03-13 13:03] cusspvz commented on #736
What kind of branch information?

Just tested a `git checkout` directly from `refs/tags/...` and git sees it as `detached HEAD`. If **Strider** is okay with that, we just need to access to some kind of build history to avoid **Strider** to build already built tags (in case we mess up with something).

[2015-03-13 13:09] knownasilya commented on #736
Basically it strider needs something to associate the tag to a build, which is what is done with branches, it's associated by the branch name. Since tags are different every time, we'd need a tag pattern, like a regex or something.

Something like `{semver}-production`, where `v1.2.3-production` would trigger that build.

[2015-03-13 14:06] Pithikos commented on #95
Thanks. I upgraded eventually but for some reason I couldn't get the plugin through `strider install strider-build-badge` (some message about not being valid or in a rep - can't remember). Anyway I solved it by simply using the command you mentioned.

Then I simply modified the `README.md` on my github project by adding the line `!(Build status)[http://my-strider-instance/test/repo/badge?branch=ma

[2015-03-13 14:12] knownasilya commented on #95
For strider install, you'd have to do `bin/strider install [plugin-name]` from the strider directory, unless you installed strider as a global, then your command is correct. Would appreciate it if you could post the error you got.

[2015-03-13 14:49] Pithikos commented on #95
I am not sure if this is a problem with Strider itself or the way I run it. Below is a way to reproduce the error (notice I use [my own container](https://github.com/Pithikos/Dockerfiles/blob/master/strider-docker/Dockerfile)).

Making the Strider image and running it:
[code]

Trying to add the plugin:
[code]

[2015-03-13 14:51] knownasilya commented on #95
Oh, for `strider install`, you have to use the id [here](https://github.com/Strider-CD/ecosystem-index/blob/master/plugins.yml#L178).

[2015-03-13 14:56] knownasilya commented on #95
I added a note to the cli readme, [here](https://github.com/Strider-CD/strider-cli/blob/master/README.md#install).

[2015-03-13 15:29] cusspvz commented on #736
Well, I spent a couple of minutes trying to make a semver-compatible regexp (already with version descriptors checking) in case you need it.

`^[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}(?:-[a-z0-9\-]*)?$`
[some acceptance testing](https://regex101.com/r/dR6oD4/1)

For my understanding perspective, and correct me if I'm wrong, you're saying that current working **Strider** version can do the job if we place

[2015-03-13 15:48] knownasilya commented on #736
It will need some tweaking to match up the tag with the build (the regexp, and look at the right data), since the response from github is different for tags.

[2015-03-13 15:59] Pithikos commented on #95
I also noticed that I could skip the whole procedure if I upgrade. It looks like the latest release has buildbadge pre-installed.

[2015-03-13 21:08] cusspvz commented on #736
Could you please assign me for this? This weekend i will review entire **Strider** and **strider-github** code and PR this feature.

[2015-03-14 02:15] knownasilya commented on #736
@cusspvz feel free to submit a PR. We can iterate till it looks good.

[2015-03-14 14:09] chenweiyj opened #743 "How to run strider as a daemon service in EC2?"
I find the document of `strider` shows we can run `strider` by typing `strider` in the terminal. However, it does not show how to run it as a daemon service. I write a service script to put it into /etc/init.d/. But the strider process is killed directly after started. I need some help. Thank you.

Here is my service script:
[code]

[2015-03-15 02:29] chenweiyj opened #744 "Cannot install strider in EC2 t1.micro instance"
I am installing `strider` in EC2 t1.micro instance via typing `npm install -g strider` in the ssh terminal. However, the following message is shown in a certain step.

[code]

So is there any approach to solve it? Thank you very much.

[2015-03-15 02:32] fernandoneto commented on #744
try

`rm -fR ~/.npm/`

and then try to install strider again

[2015-03-15 12:36] chenweiyj commented on #744
@fernandoneto

I tried your approach and the above error still shows.

[2015-03-16 10:42] fernandoneto commented on #744
@chenweiyj is only this error you got? can you try update your npm version?
`npm install -g npm` .

[2015-03-16 12:02] kauegimenes commented on #740
@knownasilya I really want to make Strider work.

[2015-03-16 12:10] fernandoneto commented on #743
instead put the script in `/etc/init.d` creat a script in `/etc/init/` and use something like this

[code]

[2015-03-16 13:03] knownasilya commented on #740
@kauegimenes for a quick fix, I'd leave the default port, and just proxy with your server, e.g. nginx.

[2015-03-16 18:42] knownasilya commented on #744
@chenweiyj I don't recommend using `-g`, just clone this project and do `npm install`.

[2015-03-17 02:05] doublerebel commented on #702
@knownasilya I discovered the default connect.sid cookie set by Strider conflicts with the same named cookie used by one of our services to do cross-subdomain login.  So good practice would be both for Strider and for our service to [set the cookie with a unique name](https://github.com/expressjs/session#name).

[2015-03-17 03:36] chenweiyj commented on #744
@fernandoneto thx. update npm fixes this problem.

[2015-03-17 03:36] #744 closed

[2015-03-17 07:44] alivxlive commented on #739
sorry,  that did not works :(

[2015-03-17 13:06] knownasilya commented on #739
@alivxlive I just tried it, and it works fine. My `.striderrc` looks like this:

[code]

[2015-03-18 14:50] mihaly-alberti-kurtosys commented on #732
If you're on ubuntu, you may have to install `nodejs-legacy`

Read more: http://stackoverflow.com/a/21171188

This was the solution for me.

[2015-03-18 14:52] ksgy commented on #732
If you're trying to install on an Ubuntu machine, you may have to install `nodejs-legacy` package.

Read more here: http://stackoverflow.com/a/21171188

This was the solution for me.

[2015-03-18 14:53] knownasilya commented on #732
@ksgy thank you for the input!

[2015-03-18 19:37] chrisfosterelli commented on #732
@ksgy I think that may be a separate issue, I'm using the PPA which provides `/usr/bin/node`. If it's working to globally install Strider, that may because the debain package is a much older version of node that doesn't run scripts as `nobody` (just a guess, though). Can you clarify your node version?

[2015-03-19 08:53] alivxlive commented on #739
Thank you Alot :) @knownasilya

[2015-03-20 11:08] ksgy commented on #732
@chrisfosterelli
My node version is: v0.10.25 on Ubuntu 14.04.2 LTS

[2015-03-20 11:13] fernandoneto commented on #732
like @ksgy im using nodejs-legacy v 0.10.25 on Ubuntu machine and have no problems installig globally

[2015-03-20 15:30] bitwit opened #745 "Strider crashes on new jobs started from a Pull Request that has been rebased"
We've been seeing these for a little while, but it was hard to track down the culprit until enough of a pattern emerged. Jobs started by pull requests, when retriggered by a rebase appear to crash the server. It automatically restarts itself but any in progress or queued job are killed and marked as zombies on restart.

The strider log looks like
[code]

Haven't looked much into the core libs of S

[2015-03-20 15:43] knownasilya commented on #745
@bitwit what version of Strider are you using?

[2015-03-20 15:45] bitwit commented on #745
We're on 1.6.2 at the moment. Think 1.6.4 could make any diff?

[2015-03-20 15:45] bitwit commented on #745
I'll confirm as soon as I can, in any case

[2015-03-20 15:48] knownasilya commented on #745
Yeah, there were some major bug fixed between 1.6.2 and 1.6.4

[2015-03-20 16:14] bitwit commented on #745
Aha, okay so this isn't core strider's fault it appears.

This is the [strider-github-status](https://github.com/Strider-CD/strider-github-status) plugin actually.

When you asked me to upgrade it uninstall the plugin, which brought me to this revelation. Removing the plugin prevented the crash, even though it was something in the strider lib that broke on it.

I'll add an issue in that repo

[2015-03-21 14:01] vishalvinayak opened #746 "SSH Deploy on EC2 - DSA key not authorized"
I'm trying to deploy my app on an aws ec2 instance with SSH deploy and realized that the private key is a DSA key whereas amazon specifically mentions on their website "Amazon EC2 does not accept DSA keys. Make sure your key generator is set up to create RSA keys."

http://docs.aws.amazon.com/opsworks/latest/userguide/security-settingsshkey.html

Is someone else facing a similar issue while trying

[2015-03-21 21:01] fernandoneto commented on #746
im deploying to ec2 using strider.
can you give more details?

[2015-03-22 03:25] vishalvinayak commented on #746
So I'm using the "SSH Deploy" plugin. I've added my ec2 host in the "hosts" section and my ec2 user in the "user" section. I see a message in the hosts section of the plugin: "Ensure that the private key of your strider worker(s) exist and are authorized."
Correct me if I'm wrong: To make sure strider is authorized on my ec2 instance I need to add the public/private key given in the settings of my

[2015-03-22 15:08] vishalvinayak opened #747 "Account page not rendered on Firefox 36.0.1 on Ubuntu 14.04"
I can see the menu on the left but when I click on any of the menu items, nothing loads.
Works perfectly in chrome though.
![selection_001](https://cloud.githubusercontent.com/assets/4641524/6769891/bf61a086-d083-11e4-9db7-6a43e54e62b9.png)

[2015-03-22 16:58] knownasilya commented on #747
Duplicate of #717

[2015-03-22 16:58] #747 closed

[2015-03-23 07:47] vishalvinayak commented on #746
@fernandoneto Is there a way to deploy to ec2 without using the SSH deploy plugin?

[2015-03-23 08:50] fernandoneto commented on #746
you can use Unitech/PM2 to deploy.

[2015-03-23 12:58] knownasilya commented on #746
Have you tried changing that key to something that isn't DSA, and using that?

I would love to hear how everyone is using this tool for AWS. I'm planning on building a plugin for ElasticBeanstalk, and would love feedback.

[2015-03-23 14:38] bitwit commented on #746
@vishalvinayak Where is your strider box currently hosted? As @knownasilya suggested, you could try generating a new RSA key on this box and it should resolve the issue. You should also add the contents of the `~/.ssh/id_rsa.pub` file generated to the `~/.ssh/authorized_keys` file inside of the production server so that you can connect without a password prompt

@fernandoneto , your suggestion of

[2015-03-23 15:42] knownasilya commented on #746
@bitwit also working on a git deploy plugin with an optional build step. Pretty much take your current branch, create an orphan branch, modify the .gitignore to remove the dist directory, and perfom a build. Commit. Push up to remote with same branch or other branch.

[2015-03-23 15:57] knownasilya commented on #746
@bitwit how do you like `pod`? Are the deploys seamless?

[2015-03-23 16:32] bitwit commented on #746
So a few thoughts on pod:

*Pro* - 99% seamless deploys
*Pro* - You can add your prod server as a git remote and see where your deployed servers are right inside of your favourite git interface

*Con* - The 1% of deploys that aren't seamless are likely your fault however.... it rolls back to restart on the last stable version, meanwhile the git HEAD stays at what you just pushed. If your fix was e

[2015-03-24 11:05] fernandoneto commented on #746
@bitwit you can deploy anything you want with pm2, not only js.

[2015-03-24 16:47] knownasilya commented on #742
@shaymarketing did you get this fixed?

[2015-03-24 16:58] bitwit commented on #746
@fernandoneto Are you sure? Quoting directly from the https://github.com/Unitech/pm2 readme

It would be neat if it could do more, but I don't think that's it's advertised strength. Possibly something like supervisor would be more suitable for Python and the like. I haven't deployed much else other than node, python and PHP backends personally though.

[2015-03-24 17:10] knownasilya commented on #740
@kauegimenes the solution is to use `PORT` with the `runTest`, e.g.

[code]

[2015-03-24 17:10] #740 closed

[2015-03-24 17:13] knownasilya commented on #732
Closing this, since we no longer tell you to use `-g` to install strider. Feel free to continue discussion. If there are any other specific issues feel free to create a new issue.

[2015-03-24 17:13] #732 closed

[2015-03-24 17:14] knownasilya commented on #736
@cusspvz have you had any success with this?

[2015-03-24 18:43] shaymarketing commented on #742
Hey Ilya,
No I didn't get it to work. I moved on to another CI and CD solution.

On Tue, Mar 24, 2015 at 9:47 AM, Ilya Radchenko <notifications@github.com>
wrote:

[2015-03-24 18:52] knownasilya commented on #742
@shaymarketing if you want to get back to this, feel free to reopen.

[2015-03-24 18:52] #742 closed

[2015-03-24 19:22] fernandoneto commented on #746
@bitwit correct pm2 is a process manager for node, but you can use deploy module. you can configure post-deploy hooks to do whatever you want. conclusion you use pm2 to deploy and a hook to call other app to manage your code....

[2015-03-24 19:57] cusspvz commented on #736
This is currently at my urgent TODOs since we have it as a dependency. Maybe tomorrow I will dig up on this.

[2015-03-25 07:28] m00t opened #748 "Can not reset password: "Project not found""
When go to link in email http://<domain>/reset/<token> got this page: "Project not found"
Strider version 1.6.4

[2015-03-25 11:30] m00t opened #749 "Other users in my team on bitbucket can not see project."
Also they can not add this project because it exists.

[2015-03-25 11:33] m00t commented on #749
Found collaborators section =) Sorry.

[2015-03-25 11:33] #749 closed

[2015-03-25 13:37] anton-siardziuk opened #750 "Can not see project page: "Not authorized""
When logged in as non-admin user and non project creator, I can see project on dashboard, but got "Not authorized" error when go to project page. Strider version 1.6.4

[2015-03-25 14:36] m00t commented on #750
According to middleware code (https://github.com/Strider-CD/strider/blob/master/lib/middleware.js#L305) user can see project only if he have access_level > 0. And Read option corresponds to access_level = 0. So when I register collaborator with Read value, he can not see project page.

[2015-03-25 14:42] m00t commented on #750
Tried to add collaborator with Admin option: same result, access_level = 0 in mongodb.

[2015-03-25 14:44] knownasilya commented on #750
I'll have a look, seems like something was missed in a refactor.

[2015-03-25 14:54] m00t commented on #750
What is desired bahavior here? Should users invited with "Read" option be able to see project and run builds by hand?

[2015-03-25 15:31] knownasilya commented on #750
Really there are 3 levels:

* view (0)
* start (1)
* edit (2)

So the collaborators sets it to 0 for Read, which is technically correct, but that also allows you to start the deploy/test for the ones that they can see, which is wrong.

[2015-03-25 15:33] knownasilya commented on #750
So that's for detail views, jobs, and config pages. You can see the project in the list, that's about it. Kind of useless if you ask me.

[2015-03-25 15:49] m00t commented on #750
Is level 1 working now? Can I set it in mongodb for example?

[2015-03-25 15:52] knownasilya commented on #750
@m00t give it a try, not sure if it's working.

[2015-03-26 22:13] dionridley opened #751 "Install issue on ubuntu related to bower post install task"
I've installed strider with no issues on my Mac but when attempting to install it on ubuntu I'm getting the following issue during postinstall.  I'm using sudo for the install but its appears to be trying to write to <myaccount> below.  Is there something I'm doing wrong or a fix for this?

==========

bower                           EACCES EACCES: permission denied, mkdir '/home/<myaccount>/.cach

[2015-03-26 23:21] knownasilya commented on #751
Sounds like a bower issue. Is this in heroku?

FYI, there are many issues with npm and using sudo, especially on Ubunut.

[2015-03-27 06:44] leonfs commented on #647
I'm experiencing the same issue in a Azure VM and local (MacOS X with boot2docker), js files and css styles are not available...

[2015-03-27 14:58] knownasilya commented on #748
@m00t I can't reproduce this issue, are you setting `SERVER_NAME` to something?

I get urls like: `http://localhost:3000/reset/fac0a6d2756656562d7056d19a6109f9b37ef01d`.

[2015-03-27 15:03] m00t commented on #748
Sorry, I didnt recognize that parser eat my url. I mean when I go to link http://my_server_name.com/reset/password_reset_token

[2015-03-27 15:16] #748 closed

[2015-03-27 16:33] dionridley commented on #751
It was on an AWS ubuntu 12.x box (not heroku). But yeah, it looks like it is related to bower from a thread I found investigating.  Bower does something with caching the user and then always tries to use that user's home.  I cleaned up the hidden files and re-installing io.js for a fresh setup and it installed properly.

[2015-03-27 16:33] #751 closed

[2015-03-27 16:36] knownasilya commented on #751
@dionridley I just pushed a commit to master that works with io.js.

Also, I'm planning on not requiring the end user to do bower installs. Once I have some time :+1:

[2015-03-27 17:32] dionridley opened #752 "Version of mongoose in Strider does not work with MongoDB 3.x"
When trying to addUser or start server getting the following error

==================
17647 forked

##############################################################
#
#   !!! MONGOOSE WARNING !!!
#
#   This is an UNSTABLE release of Mongoose.
#   Unstable releases are available for preview/testing only.
#   DO NOT run this in production.
#
###########################################################

[2015-03-27 17:37] knownasilya commented on #752
@dionridley I just tried it with mongoose 4.0.0 and get that error. What version did you have previously?

[2015-03-27 17:40] knownasilya commented on #752
@dionridley 3.8.x works fine. I'm hardcoding that now.

[2015-03-27 17:41] #752 closed

[2015-03-27 18:33] knownasilya commented on #752
@dionridley released 1.6.5 with all of the latest fixes, including this, io.js support, some others, see the release notes.

[2015-03-27 18:47] niallo commented on #752
Awesome work Ilya!

On Fri, Mar 27, 2015 at 11:33 AM, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-03-27 19:05] leonfs commented on #737
I'm experiencing the same issue but not just in Safari, also in Chrome.

I'm using the dockerized version from quay.io

In my case, I did manage to add a project from BitBucket, but at some point stopped working.

I had to manually remove projects from the DB. When I tried to add the project again, this connection problem to BitBucket started happening. Probably was the same problem that caused th

[2015-03-27 19:08] dionridley commented on #752
Thanks.  Appreciate you responding and addressing issues quickly!

[2015-03-27 20:21] #730 closed

[2015-03-27 20:45] dionridley opened #753 "Linking a github account still breaks if your email is set to private on github"
When first trying strider I had this issue when I tried to link my github account.  I resolved it by going into github and making my email address public (which I don't want to do) and then after linking the account with Strider switching it back to private.  Once that initial check happens no more issues. It is discussed here but the problem still occurs in the latest version.

https://github.com

[2015-03-28 00:15] knownasilya commented on #753
This is documented in strider-github and if you updates the plugins, under admin/ plugins the error is clear

[2015-03-28 15:27] knownasilya commented on #753
Fixed, just make sure to update your plugins by going to "Admin" and then "Plugins" from the app. Update all of the plugins there. I'm going to add a note about upgrading plugins to the readme, at least until it happens automatically on first start.

[2015-03-28 16:35] #753 closed

[2015-03-31 18:32] ryanfields opened #754 "addUser -f creates copies of user"
Subsequent calls to addUser with the -f option for a given user keep inserting new copies of the user.  The -h output suggests that the user entry will be overwritten, so I expect remove/add or update to occur.  Instead, it just runs an insert query on every execution.

[2015-03-31 18:36] knownasilya commented on #754
Duplicate of #584

[2015-03-31 19:42] ryanfields commented on #584
I'm not sure why #754 was marked as a duplicate.  I can see where it might be related, but it doesn't describe the same bug.  This issue indicates that `strider addUser -f` will delete a user and then add a new one.  That is not what it currently does.  No removal is taking place in the current version.  It leaves the old user in the DB and creates a duplicate.  That's not quite the same as the or

[2015-03-31 19:44] knownasilya commented on #584
@ryanfields my mistake, I'll see if I can replicate it. And fix both this and the other.

[2015-04-01 00:09] tupy commented on #381
Add the GitHub to the list of authorized hosts:

`ssh-keyscan -t rsa github.com > ~/.ssh/known_hosts`

[2015-04-02 13:11] kristiandupont commented on #433
Is there any update on this? I'm trying to deploy via the button and get the same error.

[2015-04-02 16:22] cusspvz commented on #736
I've read entire `strider-github` repo already, since there are a couple of ways to apply this, i will get into this afternoon because I need to discover differences between payloads first.

[2015-04-03 13:42] brugnara opened #755 "wrong url for config button"
The config button placed in the page of the selected project (say /brugnara/test) points to a "random" url: `/appgeo/unisys_2014-0331.cbpwaittimes/config`.

[2015-04-03 13:50] knownasilya commented on #755
Good catch. Complete fluke on my part.

[2015-04-03 13:52] #755 closed

[2015-04-03 13:54] brugnara commented on #755
thank you :+1:

[2015-04-03 13:56] knownasilya commented on #755
@brugnara can you give 1.6.6 a try, not sure if it published correct.

[2015-04-03 13:59] brugnara commented on #755
I have pulled from master right now and this specific bug seems ok.

[2015-04-04 09:02] gunish commented on #716
+1

[2015-04-08 09:52] fernandoneto commented on #746
@bitwit [this](https://github.com/Unitech/pm2-deploy) is the module that pm2 use to deploy.

@vishalvinayak is your problem solved?

[2015-04-08 17:23] bitwit commented on #746
Cool, good to know.

Since I'm here I may as well mention Pod updated its PM2 dependency a week ago or so to use the latest.

[2015-04-09 09:45] brugnara commented on #718
+1

[2015-04-09 23:59] paul42 opened #756 "plugin request: Expose ability to trigger project deploy via REST API"
I know there is an existing web hooks plugin, but that appears to just send out messages after a build has been completed, is there a way to make a plugin that allows for triggering of builds on incoming messages?

I'd like new servers coming up to reach out to strider and trigger a deployment process

[2015-04-10 09:40] ChrisPiechowicz commented on #633
I have the same issue, my script in package.json is: { "test": "mocha --recursive ./src/tests" }
When I run it manually (npm test) and my test fails it returns the correct status (echo $? gives me 1),
but for the same command Strider is always green...

[2015-04-10 16:48] bitwit commented on #756
Not quite RESTful, but strider is already capable of running a job via a couple of API calls. The only problem, I believe, is that you need to get a cookie session started before you hit the endpoint that cna run a job.

The code that runs jobs form the CLI actually uses this exact method: https://github.com/Strider-CD/strider-cli/blob/master/run.js

Again, not quite RESTful, but if you were looki

[2015-04-10 21:25] scryptmouse commented on #756
You can also set authenticate with a header on the request, in the format `"Authorization: basic " + base64(username + ":" + password)`, per http://strider.readthedocs.org/en/latest/hacking.html

You post to `/projectname/start` to trigger a run. By default it's test only but you can specify it should deploy as well via params.

https://github.com/Strider-CD/strider/blob/master/lib/routes/api/jobs

[2015-04-10 21:29] bitwit commented on #756
^ Even better. Pretty sure that satisfies the OP's request precisely and bonus I learned something too :)

[2015-04-11 12:56] laurentj commented on #717
I confirm it. v1.6.6

Errors in the console :

[code]

Source code:

[code]

I can't configure plugins !!!

[2015-04-11 13:02] laurentj commented on #717
When we click on a tab, jQuery.fn.init() is called several times, and for one of these calls, the 'selector' argument is equals to "#", so match = [ "#", undefined, ""] and then document.getElementById(match[2]) fails.

[2015-04-12 09:31] laurentj commented on #717
I've the same issue on a project configuration page. Impossible to modify setting of a project : page is empty. we only see tabs.

Please fix it in a 1.6.x, not in 1.7.0

[2015-04-12 09:44] laurentj opened #758 "Cannot see project configuration page - js error"
When I go on a project configuration page, tabs are displayed, but tab panels are empty.

During the loading of the page, I have this javascript error

[code]

strider v1.6.6 - Firefox 37 or Chromium 40 (linux)

[2015-04-12 09:45] laurentj commented on #717
Sorry, the issue on a project configuration page is an other js error, and appears both on Firefox and Chrome, see #758

[2015-04-15 14:48] #727 closed

[2015-04-15 15:14] knownasilya commented on #756
@paul42 does that satisfy your question/request?

[2015-04-16 19:04] paul42 commented on #756
This satisfies my request, thank you very much :)

[2015-04-16 19:04] #756 closed

[2015-04-18 00:08] knownasilya commented on #758
@laurentj would love a PR. I can't recreate it on OSX, and don't have access to a Linux machine atm.

[2015-04-18 01:20] knownasilya commented on #754
Should be fixed with 1.4.7 of strider-cli

[2015-04-18 01:20] #754 closed

[2015-04-18 01:20] knownasilya commented on #584
Should be fixed with 1.4.7 of strider-cli

[2015-04-18 01:20] #584 closed

[2015-04-20 08:03] manusajith commented on #433
I also faced the same issue when I try to deploy to heroku via the deploy button.

[2015-04-20 08:09] Mixaill opened #760 "Mercurial plugin"
This is my madskillz implementation of **strider-hg** plugin.
https://github.com/Mixaill/strider-hg

[2015-04-20 11:50] knownasilya commented on #433
There should be a fix coming in the next release.

[2015-04-20 13:12] knownasilya commented on #760
If you're planning to support this project, feel free to submit a PR here https://github.com/Strider-CD/ecosystem-index

[2015-04-20 13:21] knownasilya opened #761 "Simplify the job process"
Currently there are just too many separate parts, and it's hard to know what's what and where it comes into play.

I'm referring to `strider-runner-core`, `strider-simple-runner`, `lib/backchannel.js`, `job-data-monitor.js`, `job-monitor.js`, etc. (who knowns what else there is for the job workflow..).

It would be nice to simplify some of this workflow. Either by refactor or by some clear documen

[2015-04-20 13:41] Mixaill commented on #760
done https://github.com/Strider-CD/ecosystem-index/pull/5

[2015-04-20 16:09] niallo commented on #761
Agreed. I think the biggest missing piece is clear documentation - from
there it should be easier to know what hound be refactored.

On Monday, April 20, 2015, Ilya Radchenko <notifications@github.com> wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-04-20 16:13] knownasilya commented on #761
Would love the help of some of the original authors e.g. @jaredly

[2015-04-20 16:44] #760 closed

[2015-04-21 12:46] knownasilya commented on #691
@mingfang it says `git clone --recursive http://[username]:[password]@github.com/Strider-CD/strider.git` because that is the "safe" version of the url, i.e. it doesn't expose the credentials. IT will show that even if you didn't put any credentials in.

[2015-04-21 12:48] knownasilya commented on #737
@leonfs can you try it without the dockerized version, since it's not exactly stable.

[2015-04-22 00:01] jaredly commented on #761
- `strider-simple-runner`: a plugin for strider that runs jobs. [see runner plugin docs](https://github.com/Strider-CD/strider-extension-loader#runner). It is the default runner, and `strider-docker-runner` is an alternative.
- `strider-simple-runner` is largely a wrapper around the library `strider-runner-core`, which does the work of running a job, managing phases, etc. `strider-runner-core` is

[2015-04-22 15:33] samartioli commented on #220
Strider Does NOT work with GitHub Enterprise. Which is fine... IF you take down that you Do work with GitHub Enterprise.

You say right in your repo you work with GitHub Enterprise as well as in your documentation, but in fact Strider DOES NOT work with GitHub enterprise at this point.

The code is a little too spaghetti for me to try and take the time to add in the functionality myself.

[2015-04-22 15:51] knownasilya commented on #220
@samartioli I'm not aware of Strider advertising support for GH enterprise. Where have you seen otherwise?

[2015-04-22 18:47] samartioli commented on #220
I was wrong in it saying it supported Enterprise in the ReadMe on the repo, but it does say so in the docs.

http://strider.readthedocs.org/en/latest/intro.html#github-github-enterprise-bitbucket

[2015-04-22 18:50] knownasilya commented on #220
That needs to be removed from the README. It's way too outdated.

[2015-04-24 10:03] onlymee commented on #738
Nice fix but ... global-tunnel doesn't appear to support authentication? eg: http_proxy=http://user:pass@myproxy:port

[2015-04-24 12:36] knownasilya commented on #738
@onlymee feel free to submit a feature request to global-tunnel :+1:

[2015-04-28 13:44] #623 closed

[2015-04-28 14:53] knownasilya commented on #761
@jaredly there is also `lib/websockets.js`..

[2015-04-29 15:56] bitwit commented on #745
Unfortunately, I'm back to thinking this is a problem in core strider. After removing the github-status plugin completely and upgrading to 1.6.6 we've still seen the issue occasionally, though getting perfect re-creatable steps has continued to be a problem.
I will keep trying, but I just don't want to take anyone on a wild goose chase the wrong way in the meantime

[2015-04-29 16:00] knownasilya commented on #745
@bitwit all and any help is always appreciated!

[2015-04-29 17:26] jaredly commented on #761
Oh right. `websockets.js` is the interface between web clients and the main emitter; `backchannel` listens for job events and orchestrates the running of jobs.

two different jobs

[2015-04-29 18:26] knownasilya opened #764 "Use bower-install for vendor assets"
https://github.com/blittle/bower-installer

Currently the bower dependencies are "manually" copied to the vendor directory. This would solve that brittleness.

[2015-05-02 11:58] #764 closed

[2015-05-02 16:02] oliversalzburg opened #766 "vendor/CodeMirror should be vendor/codemirror"
On a fresh checkout, `make` will fail because it can't find `vendor/codemirror`. Issue is probably introduced from a case-insensitive FS.

[2015-05-02 16:20] oliversalzburg opened #767 "Opening /projects crashes strider"
Here's an excerpt for the log:

[code]

[2015-05-02 16:26] oliversalzburg commented on #767
Whoops. I guess this belongs into strider-gitlab

[2015-05-02 17:25] oliversalzburg commented on #767
Was caused by an UNABLE_TO_VERIFY_LEAF_SIGNATURE error due to an incomplete certificate chain on the nginx proxy.

[2015-05-02 17:47] oliversalzburg opened #768 "Cannot read property 'commands' of undefined"
I get a lot of `Cannot read property 'commands' of undefined` errors during a run.

![](http://i.imgur.com/Pxy1uwS.png)

[2015-05-02 17:49] oliversalzburg opened #769 "Currently active run appears twice in Past builds list"
![](http://i.imgur.com/vgjiYoe.png)

Has been happening ever since we started using Strider.

[2015-05-02 21:22] knownasilya commented on #768
Is this during rebases

[2015-05-02 21:25] knownasilya commented on #766
The only reason make is still there is because the tests haven't been moved out. I'll keep this as a cleanup or  remove make issue.

[2015-05-02 21:42] oliversalzburg commented on #768
No, I wasn't rebasing. This was a fresh setup of Strider in combination with GitLab.

[2015-05-02 21:43] oliversalzburg commented on #766
Yeah, I'm not sure how relevant this ticket is. I was a bit confused when I was setting up our new Strider instance.

I was cloning from git directly and ran into this issue. I later just installed from npm and didn't have any problem.

I just thought I should mention it, as it seemed like a mistake related to case sensitivity.

Close at will :)

[2015-05-04 11:56] #766 closed

[2015-05-04 12:00] knownasilya commented on #768
Do you have a callstack? Would like to know which phase is triggering the error.

[2015-05-04 12:09] oliversalzburg commented on #768
@knownasilya I don't seem to be able to repro right now. It happened in a fresh installation.

I'm only seeing this right now, but it's probably a different issue:
![](http://i.imgur.com/lBTUFsf.png)

[2015-05-04 12:09] oliversalzburg commented on #768
Seems like `ensureCommand` is missing semicolons btw.

[2015-05-04 12:46] knownasilya commented on #768
@oliversalzburg most of the code is not following a specific style guide. I've been slowly following the airbnb guide as I make changes. Eventually I want to setup eslint and fix all the code O.O

[2015-05-04 13:29] oliversalzburg commented on #768
Yeah, sorry for not collecting more useful information when the error happens.

Whenever I set up a fresh Strider instance, I seem to be running into all kinds of weird issues that resolve themselves shortly after. In those situations I'm usually under a lot of time pressure and am battling with multiple issues.

If it happens again, I'll make sure to capture more useful information.

[2015-05-05 14:21] knownasilya commented on #769
Duplicate of #352

[2015-05-05 14:21] #769 closed

[2015-05-05 14:23] knownasilya commented on #769
Will be looking into this issue before 1.7.0

[2015-05-05 14:24] knownasilya commented on #768
@oliversalzburg can you walk me through how you setup gitlab with Strider (I don't use gitlab and the plugin is a little raw - *adds to huge todo list*)?

[2015-05-05 14:25] knownasilya commented on #767
How would I reproduce this issue?

[2015-05-05 14:41] oliversalzburg commented on #767
Gitlab uses nginx (as a reverse-proxy I assume). I configured that nginx to provide HTTPS and supplied it with our certificate and key. Strider will probably connect to Gitlab over HTTPS by default, if Gitlab is configured this way.

The issue was, I neglected to concatenate our own certificate with the intermediate certificate chain, resulting in an incomplete chain. This causes a certificate cha

[2015-05-05 14:41] knownasilya commented on #718
@niallo would love more access to the plugins on npm.

[2015-05-05 14:43] knownasilya commented on #767
@oliversalzburg I want to assume that `res` is always there, otherwise this is probably an Express issue.

[2015-05-05 14:55] oliversalzburg commented on #767
I'm not sure if the response is guaranteed to be there, if there was no response to begin with. Could be worth reporting/discussing at https://github.com/request/request

[2015-05-05 15:09] oliversalzburg commented on #768
@knownasilya I can try and reproduce this later at home, but it was a process involving a lot of trial-and-error. I'm not sure if I'll remember making the same mistakes again ;D

[2015-05-05 15:39] oliversalzburg commented on #352
@knownasilya If you could point me to where the controller for this part of the UI is located, I might be able to collect some information on this, as I have this happening a lot with our new Strider instance. Our old one doesn't seem to have the issue though...

[2015-05-05 16:01] knownasilya commented on #352
@oliversalzburg The views are here:
* `lib/views/partials/_dashboard_row.html` (this is reused for the history and the dashboard -- probably a bad idea..).
* `lib/views/build.html` (above is used on line 66 I think)

All clientside stuff is here: `client/job-status/`

[2015-05-05 16:14] niallo commented on #718
If you can give me a list of npm packages I'll grant you as owner.

On Tue, May 5, 2015 at 7:41 AM, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-05-05 16:32] knownasilya commented on #718
@niallo it would be nice to take advantage of scoped packages, since those are a thing now. Maybe have a strider accounts.

[2015-05-05 16:44] niallo commented on #718
Sounds good. For now, can you send me a list of NPM packages which you need
access to and I can add you as owner?

On Tue, May 5, 2015 at 9:32 AM, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-05-05 16:58] knownasilya commented on #718
strider-bitbucket
strider-build-badge
strider-custom
strider-email-notifier
strider-env
strider-extension-loader
strider-git
strider-github
strider-gitlab
strider-heroku
strider-mailer
strider-metadata
strider-node
strider-python
strider-ruby
strider-simple-runner
strider-slack
strider-ssh-deploy

[2015-05-05 17:07] niallo commented on #718
Ok, I added all those I could. Some of these I wasn't able to update since
@keyvan or someone else is the owner:

strider-ssh-deploy
strider-slack
strider-gitlab
strider-email-notifier
strider-build-badge

On Tue, May 5, 2015 at 9:58 AM, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-05-05 17:21] knownasilya commented on #718
Thanks @niallo

[2015-05-05 17:21] oliversalzburg commented on #352
So, the problem is not with the `ngRepeat`, that's for sure.

When placing a breakpoint at the start of the `job` controller, you can inspect `global.jobs` and see that there are two jobs marked as "running".

So the error is already in the `jobs` data injected into the page when it is loaded.

[2015-05-05 17:23] knownasilya commented on #352
@oliversalzburg so it might be some where in one of the files mentioned here #761

[2015-05-05 17:29] oliversalzburg commented on #352
@knownasilya Maybe. I'm still trying to understand the code a bit better.

I'm assuming that https://github.com/Strider-CD/strider/blob/2e3106a4bb228537727e8953c93efd7d754fcc56/lib/views/build.html is the template which is rendered when I open the build page for a project.

I'm a bit confused how `jobs` is actually rendered and where it's coming from. At first I assumed the moustache syntax indica

[2015-05-05 17:52] oliversalzburg commented on #768
@knownasilya So, I'm trying to reproduce this, but I'm running into https://github.com/Strider-CD/strider-gitlab/issues/8 for now. I'll see if I can find the root of that one.

[2015-05-05 18:29] oliversalzburg commented on #768
Alright, I got two more call stacks for the same error after setting up a fresh strider instance on my Windows desktop.

The `git clone` failed here, because I neglected to add the strider SSH key to GitLab though. But maybe this is already helping:

![](http://i.imgur.com/0MCULEB.png)

[2015-05-05 18:34] oliversalzburg commented on #768
So, this is what I did (originally, I used our on-premise GitLab, but I would assume the public gitlab.com works just as well):

1. Clone strider `git clone git@github.com:Strider-CD/strider.git`
2. `npm install`
3. `bower install`
4. Set `SERVER_NAME` environment variable (`http://localhost:3000`)
5. Add initial user `node .bin/strider addUser`
6. Start strider `node .bin/strider`
7. Log into str

[2015-05-05 18:37] knownasilya commented on #768
@oliversalzburg awesome! Thanks for hanging in there. This will make it much easier to debug.

[2015-05-05 18:44] oliversalzburg commented on #352
So, I think my assumptions above are correct.

When I log `running` [after the jobs are retrieved](https://github.com/Strider-CD/strider/blob/b8df992a5721c83b21babd77a4051aaf69890c9a/lib/routes/jobs/index.js#L77), I received a single job.

When the jobs are later passed into `res.format`, `jobs` will have 2 entries.

[2015-05-05 18:54] oliversalzburg commented on #352
Yeah, you're right. I thought a simple `jobs = _.uniq(jobs,"_id");` would fix this, but it doesn't work.

Sadly, I can't get the WebStorm debugger to work with strider, that would make it a bit easier for me ;D

[2015-05-05 18:55] oliversalzburg commented on #352
But this also explains why I never see this in strider when it's used for a bit of time. I guess 20 jobs is the magic number here ;)

[2015-05-05 19:14] oliversalzburg commented on #352
Hah, of course, `_id` is an `ObjectId`, so they aren't equal. This works though:

[code]

[2015-05-05 19:24] #352 closed

[2015-05-05 19:27] oliversalzburg opened #771 "Allow favicon to be cached"
I noticed that `favicon-running.png` and `favicon-running-alt.png` are loaded a lot when watching the build page for a running job.

I later realized that this is how the tab icon is animated.

However, the icon files are sent with a `Cache-Control: no-cache` header, causing the browser to retrieve a fresh copy of the icons every second.

[2015-05-05 21:08] oliversalzburg commented on #767
BTW, even if `res` was defined. `res.body` might not be. I have a feeling that this is something that must be handled in strider.

I opened an issue on the request tracker. Let's see what results from it :)

[2015-05-05 21:33] knownasilya commented on #767
I guess the solution would be to setup a middleware before any routes, and check if `res` is `undefined`.

[2015-05-07 20:48] donaldpcook commented on #737
If you're doing this locally, make sure you're using localhost (instead of 0.0.0.0 or something else) in your browser or change the SERVER_NAME to the correct IP. Otherwise you'll get this error.

[2015-05-08 14:25] alexandrusavin opened #773 "Error connecting to the github account"
If the user hasn't configured his account to publicly display his email account the Github connection fails with an error.

Steps to reproduce:
0. Make your Github emails private in Settings > Emails.
1. Install strider locally
2. create admin user
3. login and try to connect to github account

that you'll get this error:
[code]

Is it really necessary to have the email public in the Github accoun

[2015-05-08 14:30] knownasilya commented on #773
Duplicate of #753 and several others :wink:

[2015-05-08 14:30] #773 closed

[2015-05-08 15:03] alexandrusavin commented on #773
Sorry for the duplicate. I used the HEAD first and than the latest build.

[2015-05-11 11:59] cusspvz opened #774 "Strider GitHub account issue"
Strider Release: latest
Strider GitHub provider release: 1.4.1
Issue: "Refresh Accounts" updates repo from fetched organizations but it wont load newly created organizations.

[2015-05-11 12:00] cusspvz commented on #774
Problem was that access wasn't granted for that organization on App tokens. Fixed! :)

[2015-05-11 12:00] #774 closed

[2015-05-11 12:04] knownasilya commented on #774
Glad you solved it. Do you know if there was an error in the console log? Maybe we can provide a ui error for this.

[2015-05-11 12:30] cusspvz commented on #774
I've figured out that wasn't a Strider error but a token's access instead:
![captura de ecra 2015-05-11 as 13 29 19](https://cloud.githubusercontent.com/assets/3604053/7564764/c897cb00-f7e1-11e4-8b88-57605e12138f.png)

Just remembered that it could be the cause after creating this issue, sorry. :p

At least it may help someone. :)

[2015-05-11 14:13] knownasilya commented on #427
This should be fixed as of 2876753e2299c27929dcc14ea00e882679c04200

[2015-05-11 14:13] #427 closed

[2015-05-11 18:36] reactivepixel commented on #716
+1

The deploy to heroku button fails with "!     Push rejected, failed to compile Multipack app"

[2015-05-11 20:14] knownasilya commented on #603
Is this available in io.js?

[2015-05-13 02:50] olegshilov commented on #381
@tupy thanks.

[2015-05-13 13:02] knownasilya commented on #718
@niallo I forgot we had https://github.com/Strider-CD/npm-outdated

[2015-05-14 06:02] bmustata commented on #732
Only worked after I installed strider like a node.js app without -g flag.

[2015-05-14 06:02] bmustata commented on #751
Only worked after I installed strider like a node.js app without -g flag.

[2015-05-14 11:41] knownasilya commented on #751
@bmustata that should change in the next release.

[2015-05-14 23:55] frankcarey commented on #716
Here is the full output:

[code]

[2015-05-15 00:04] frankcarey commented on #716
Issue may be with the buildpack itself.. https://github.com/ddollar/heroku-buildpack-multi/pull/47

[2015-05-15 11:48] knownasilya commented on #716
@frankcarey could you spearhead this and test out the fork?

[2015-05-18 06:48] patoi opened #776 "Optional embedded database: NeDB"
Enhancement proposal.

For faster and simple installation, the default database may be NeDB. https://github.com/louischatriot/nedb

[2015-05-19 08:09] dancourse commented on #716
+1 same error

[2015-05-21 05:46] nexflo opened #777 "Fresh Project - NaN years ago"

[2015-05-21 11:40] knownasilya commented on #777
Where is this?

[2015-05-21 14:50] fernandoneto commented on #777
some time ago i have a the same error when i try to run a new job.
![captura de ecra de 2015-05-21 15 48 59](https://cloud.githubusercontent.com/assets/6515784/7751266/f27b28da-ffd0-11e4-88ab-bbc870ed1190.png).

I just update strider and problem solved.

[2015-05-22 19:39] bitwit commented on #745
So I set a `console.log` just above `lib/backchannel.js:146` to try and diagnose this better after it happens. We had another crash today after a rebased pull request so I went to the logs not can see that `self.waiting` is and empty object (`{}`), which means that `self.waiting[name]` returns `undefined` and crashes when calling `.forEach`. I can see that the `name` parameter is populated correct

[2015-05-25 14:35] bitwit commented on #745
We had another crash today and *not* from a rebase but instead a deploy that tags and commits simulataneously. This has led me to another conclusion.

I believe this is happening when two events are queued for the same project near simultaneously. In both cases it has been a new commit accompanied by either a tag or a pull request job started. I suspect that since they are both using the same proj

[2015-05-26 18:37] csu opened #778 "Deploy to Heroku button fails"
Breaks on the "Build app" phase.
Full build log: https://gist.github.com/csu/6cbc830ade3bb403f5bb
Seems to be a Heroku problem though (???)

[2015-05-26 18:38] knownasilya commented on #778
Duplicate of #716

[2015-05-26 18:38] #778 closed

[2015-05-26 18:38] knownasilya commented on #778
Feel free to continue discussion in that issue.

[2015-05-26 18:39] csu commented on #778
@knownasilya Ah, thanks. Thought it was a different error because it looked like `npm install` was successful.

[2015-05-26 18:40] knownasilya commented on #778
Sorry, I think it was actually #433

[2015-05-27 08:18] marcuspoehls commented on #767
I ran into this issue some time ago.

**The reason:** wrong GitLab credientials. Providing an unauthorized GitLab token breaks the Strider project overview.

I shortly described this behaviour in my blog post on how to set up Strider with GitLab: https://futurestud.io/blog/strider-how-to-connect-with-gitlab-and-run-tests-automatically/
(”**Attention:** providing wrong credentials will result in di

[2015-05-27 13:55] knownasilya commented on #767
Yes please. That provider plugin needs a lot of love.

[2015-05-27 23:48] mikegell opened #779 "Failure When Adding Second Github Account"
[code]

[2015-05-27 23:48] #779 closed

[2015-05-27 23:49] fny opened #780 "Failure When Adding Second Github Account"
[code]

[2015-05-28 19:33] fny commented on #780
Moving this to strider-github

[2015-05-28 19:33] #780 closed

[2015-05-28 19:57] fny opened #781 "Bundler Can't Be Found Although Installed"
When attempting to run strider on a Ruby project, I'm consistently getting the following error despite Bundler being installed (`which bundler # => /app/vendor/bundle/ruby/2.2.0/bin/bundler`):

[code]
I'm assuming this probably has something to do with the fact that `sh -x -c` doesn't properly load the environment.

[2015-05-28 20:02] fny commented on #644
Here's what's needed to get things (nearly) working with Ruby. The only thing that needs to be figured out is #781.

1. Make sure you have the buildpack set to buildpack-multi:  `heroku config:set BUILDPACK_URL=https://github.com/ddollar/heroku-buildpack-multi.git`
2. Add the following to `.buildpacks`:

        https://github.com/mbuchetics/heroku-buildpack-nodejs-grunt#v58
        https://github

[2015-05-30 11:15] marcuspoehls commented on #767
The issue was already fixed with **strider-gitlab** plugin version `1.0.5`. Actually, when cloning Strider and install dependencies with `npm install` will use the previous version. You need to reinstall the plugin via admin panel to get the latest version with including fixes.

I created a pull request to bump the strider-gitlab plugin to the latest version while installing Strider from scratch:

[2015-06-01 13:19] #767 closed

[2015-06-01 20:33] oliversalzburg opened #783 "Startup message misleading"
I had another express application running on port 3000, yet strider will still print:

    Express server listening on port 3000 in development mode

But, of course, *my* application would answer on port 3000

[2015-06-01 20:59] oliversalzburg opened #784 "Gitlab authentication confusion"
I was trying to use a git+ssh URL as an npm dependency in one of our projects today. That git URL was pointing to our private, internal Gitlab server. So, naturally, the build failed, because strider didn't have access to the repo during the `git clone` phase.

I figured I would add a custom SSH key to the project, but had not much luck doing so, especially since just pasting my key into the textb

[2015-06-01 21:12] oliversalzburg commented on #784
Okay, so the `ssh` as the auth type is not generally wrong. While restoring, I noticed that project *can* be cloned just fine with that auth type.

However, I noticed that whenever I would re-create a project, there was an explicit port set in the git URL, which, I believe, slipped into the config while messing with gitlab during the day. I was convinced that it shouldn't be there. As it turns out

[2015-06-01 21:13] oliversalzburg opened #785 "Job page never loads running job"
When I click the **Deploy** or **Test** buttons on the project configuration page, I get sent to the job page, but the current job will never be loaded, unless I press F5 and reload the page manually.

[2015-06-01 21:21] oliversalzburg opened #786 "Update jaredly/ssh-keypair"
That project is generating weak DSA keys and there is no option to use something proper. RSA is the standard and for good reason.

There seems to be a very similar project, which is also laughably unconfigurable, but at least uses 2048bit RSA: https://github.com/ericvicenti/ssh-keygen

[2015-06-01 23:11] niallo commented on #786
It's just calling `ssh-keygen -t dsa`. DSA keys are always 1024 bits as
specified by FIPS 186-2.

I don't think 1024 bit DSA keys are especially insecure compared to RSA. I
believe the crypto-jury is still out on which format is most secure. If it
were highly insecure, ssh-keygen wouldn't support it.

However I agree key format should be configurable. The change would be
quite trivial.

On Mon, Ju

[2015-06-02 07:16] oliversalzburg commented on #786
I'm hardly a crypto expert, but it is my understanding that using DSA keys nowadays is discouraged because, even if they aren't inherently insecure, the alternatives are more secure and using them comes at negligible computational cost. `ssh-keygen` *will* still generate those keys, but it's not the default (meaning that, if no `-t` is provided, it will generate an RSA key).

I personally believe

[2015-06-02 07:56] oliversalzburg commented on #784
I'm still in the process of rebuilding and the confusion doesn't stop.

I now have 2 projects, the first one I recreated yesterday night and it clones just fine:

[code]

 The second one doesn't clone:

[code]

What's confusing here is that the relevant configuration for both projects seems identical to me:

![](http://i.imgur.com/ql0svGd.png)

I'm not sure what other part of the setup is playing

[2015-06-02 08:43] oliversalzburg commented on #784
The other part that is playing a role, are the SSH keys. The deployment key Strider installs in gitlab is the SSH key it generates when you set up the project.

It will then use the SSH key from the project settings for authentication during the clone process. But I had changed that key in the project settings, so the keys would no longer match up, because the new keys aren't installed into gitlab

[2015-06-02 08:51] oliversalzburg commented on #784
Generating a new keypair doesn't resolve this issue either. Which even makes me believe that generating a new keypair will most definitely break your setup because the new key isn't set as a deployment key.

[2015-06-02 08:53] oliversalzburg opened #787 "Retest and Redeploy buttons on the project overview have no effect for new projects"
When I create a new project, then jump to the dashboard and click either the Redeploy or Retest button, the action will have no effect. Opening the job list for the project and invoking the same actions there will work however.

The following JS error is generated in the dashboard:

[code]

[2015-06-02 09:35] oliversalzburg commented on #768
I'm experiencing a similar issue right now that feels related.

I have set up all our projects fresh. When there are no builds running, I go to the project configuration and click **Retest & Deploy**, which sends me to the build page.

I have placed a breakpoint in the `command.done` handler of `JobDataMonitor.prototype.statuses`. Here, `this.phase` is `undefined`:

![](http://i.imgur.com/psd3R4s.

[2015-06-02 09:42] oliversalzburg commented on #768
I can, however, not repro this issue at will. Partly due to #785

[2015-06-02 09:55] oliversalzburg commented on #768
If I wait long enough I get a ton of these though. Here's more:

![](http://i.imgur.com/kBXbInY.png)

These all seem related and look like race conditions to me. I can't even tell where `std` is set on the job monitor.

[2015-06-02 10:14] oliversalzburg opened #789 "What is the deal with strider.json?"
While looking into other issues, I found a log message telling me `Strider config is invalid JSON for...`. And the logged `contents` are `{ message: '404 File Not Found' }`.

I have no `strider.json` anywhere, so what is going on here?

[2015-06-02 12:45] knownasilya commented on #789
Are you using the latest version of Strider and all plugins updated?

[2015-06-02 12:50] knownasilya commented on #786
@oliversalzburg feel free to submit a PR for this.

[2015-06-02 12:52] oliversalzburg commented on #789
@knownasilya I think so, this is happening on the instance I was messing with yesterday.

My assumptions is, that this is a mechanism that allows me to modify the strider configuration through a file placed into the repository, but I wanted to make sure and I think the process could be made more clear if my assumptions is valid.

[2015-06-02 12:56] oliversalzburg commented on #786
@knownasilya Good point. I'll try my luck submitting a change to the dependency.

[2015-06-02 13:04] oliversalzburg commented on #786
For reference: https://github.com/jaredly/ssh-keypair/pull/5

[2015-06-02 13:24] #787 closed

[2015-06-02 13:25] knownasilya commented on #789
It's documented here: https://github.com/Strider-CD/strider-custom#using-striderjson
but I think the implementation is either in strider itself, or one of the runner libs.

[2015-06-02 13:33] oliversalzburg commented on #789
@knownasilya Hah! Perfect. That is *exactly* what I was trying to do for our projects right now :D I'll take it for a spin right away.

[2015-06-03 07:27] oliversalzburg opened #790 "Default strider-gitlab plugin is not the one maintained in strider-cd org"
When installing strider, `strider-gitlab` will be installed through npm, which points to https://github.com/meric426/strider-gitlab. This package references `strider-git` by `git+https` URL, always resulting in a separate copy of `strider-git`.

Either `strider-gitlab` should be included through a version git tag, or re-published to npm under a new name.

[2015-06-03 07:36] marcuspoehls commented on #790
You're right and there is an existing issue over at strider-gitlab`
https://github.com/Strider-CD/strider-gitlab/issues/7

[2015-06-03 07:48] oliversalzburg commented on #790
@marcuspoehls Given that the issue was opened 4 months ago, I think it simply shouldn't be included in strider as a direct dependency.

Luckily, strider has its own system to handle plugins and doesn't rely on npm. But including a plugin, that is not under the control of the strider organization and where the author doesn't seem responsive, directly through npm is not wise IMHO.

Another option wo

[2015-06-03 08:08] marcuspoehls commented on #790
@oliversalzburg That's exactly the problem we're currently fighting: plugin mess.

The best solution (at this point) to fix the issues with `strider-gitlab` would be to remove it from Strider's `package.json` so it doesn't get installed initially. Since Strider has it's own plugin ecosystem index, the latest plugin version of `strider-gitlab` get's installed when using Strider's admin panel.

[2015-06-03 09:03] oliversalzburg commented on #789
@knownasilya I would appreciate some help, because this isn't working at all.

The `strider.json` is retrieved and merged a branch configuration retrieved through mongoose. Which makes sense, as the strider.json should be able to affect all of the configuration items.

But then, later, the runner will never pass the whole configuration to the plugins, only their specific configuration.

And you ca

[2015-06-03 09:28] oliversalzburg commented on #789
Okay, I think, I have a working version now:

[code]

You need the `merge_plugins` member to have `mergeConfigs` invoke `mergePlugins`, so that it even looks at plugin configurations at all.

The latter then expects `plugins` to be an array, where each element has an `id` member with the name of the plugin. That element then *replaces* the complete configuration of the plugin.

Unless I'm missing

[2015-06-03 09:30] oliversalzburg commented on #789
Also, the `mergePlugins` code [mentions `strict_plugins`](https://github.com/Strider-CD/strider/blob/master/lib/utils/index.js#L52), which apparently controls above mentioned behavior. But the flag is nowhere to be found and is actually never taken into account.

[2015-06-03 09:44] oliversalzburg commented on #789
Okay, so, now I have a fully working `strider.json` for controlling plugins:

[code]

I still think plugin configs should be merged, not replaced. This feature seems incredibly useful to me, but I feel like it's impossible for a non-developer to get.

[2015-06-03 10:07] oliversalzburg opened #791 "How can I actually control the order of actions during a phase?"
I want to run `gulp` before I run my tests. My first idea was to simply run a script during the **prepare** phase. But that script is run *before* bower and node dependencies are restored, so I'm missing those.

I could just run my script in the **test** phase, but that doesn't seem like the right place.

I assumed that I could control this behavior by re-ordering the plugins for the branch, but t

[2015-06-03 10:18] oliversalzburg commented on #791
And I think I just got my answer.

When you're using `strider.json` to control your strider config, the plugins you configure in there are pushed to the top of the plugin stack, so they *always* run first.

[2015-06-03 11:24] oliversalzburg commented on #791
And I just got a tiny bit smarter :P *Not* using `merge_plugins` in `strider.json` will obviously, *not* merge the configurations.

So you just have to configure *all* plugins in `strider.json` and then only the order in `strider.json` matters.

Now, what is actually the desired behavior here? Should people override their web config with `strider.json`? Should one extend the other? If so, which on

[2015-06-03 13:48] knownasilya commented on #789
I didn't know that this was even possible! Nice!

[2015-06-03 14:14] oliversalzburg commented on #789
@knownasilya Actually, the complete configuration for the branch can be overridden. Now that I finally have a grasp on it, it's just awesome. Needs to be documented better IMHO though.

[2015-06-03 14:23] knownasilya commented on #789
@oliversalzburg maybe start something up in the wiki, and flesh it out as you know more.

[2015-06-03 14:28] oliversalzburg commented on #783
norepro - My other process wasn't actually listening on the IP address that strider used.

[2015-06-03 14:28] #783 closed

[2015-06-03 14:29] oliversalzburg commented on #789
@knownasilya Will do!

If you have an opinion regarding *how* the `strider.json` should be treated in combination with the settings in the web UI, I'd love to hear it.

[2015-06-03 14:36] knownasilya commented on #789
Since it's a power tool, I personally think it should override the web-ui configuration (at least for the options that you specify), otherwise it gets to complicated and hard to reason about. Also hard to explain how to configure it.

[2015-06-03 16:30] niallo commented on #789
yes that was exactly the point - you could override specific settings if
you wanted.

I am unsure that the order makes sense though. perhaps it is better for the
web ui to override strider.json.

On Wednesday, June 3, 2015, Ilya Radchenko <notifications@github.com> wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-06-03 16:56] oliversalzburg commented on #789
@niallo The current implementation seems to be that the `strider.json` overrides the web config. It only got complicated once I got to the plugin configurations, where the order matters.

For simplicity, let's assume I have 2 plugins, but their order is reversed between the web-ui and `strider.json`. Which order is the one to use? And once you pick the order, which plugin configuration overrides w

[2015-06-03 17:06] knownasilya commented on #789
Plugin configuration should override as a whole.

[2015-06-03 17:27] oliversalzburg commented on #789
@knownasilya So, that would mean dropping the `merge_plugins` flag/behavior? That would definitely make things easier.

[2015-06-03 17:34] knownasilya commented on #789
Exactly

[2015-06-03 18:16] notbrain opened #792 "Uploaded a .env file but on refresh no variables set"
Forgive me if this should be in the strider-env plugin project instead.

I set up a .env file with a bunch of KEY='VALUE' lines but once I uploaded and refreshed the Environment Variables page, there was no indication that it was saved or being used. Where did it get uploaded? Was my format wrong? Is the file parsed and then the vars should show up on the Env Vars plugin page?

[2015-06-03 18:27] knownasilya commented on #792
@notbrain did you see any errors in the server or devtools console?

[2015-06-03 18:37] notbrain commented on #792
No errors in the console or strider.log. The green message "Done. Config for env on branch develop saved." is the only indication that something happened. The only thing I can see strange is that the request payload was empty `{}` for `/companyname/reponame/config/branch/env/?branch=develop` (called when I click the upload button).

[2015-06-03 19:17] knownasilya commented on #792
@notbrain the issue would be somewhere here: https://github.com/Strider-CD/strider-env/commit/0f828b9cf3078ee5382f43ae68f41eb0373aa379#diff-ff1772f82f6193393f756ba18ae4288aR20

[2015-06-03 19:21] knownasilya commented on #792
@notbrain I just released a new version that should log to browser console if there is a parsing issue. Update via plugin manager.

[2015-06-03 19:58] notbrain commented on #792
Thanks! Turns out it was the format of my file - I had blank lines, and parser was erroring out trying to trim an undefined string.

[2015-06-03 21:27] oliversalzburg commented on #785
Possible dupe of #581

[2015-06-03 21:31] oliversalzburg commented on #784
What I was actually trying to do was pretty much #572

[2015-06-03 21:37] knownasilya commented on #784
Looks like a much desired feature

[2015-06-03 21:42] oliversalzburg commented on #784
I might have a go at it, but, I would need to learn more about how the frontend works first.

[2015-06-03 21:52] knownasilya commented on #792
Looks like a ui alert would be nice.

[2015-06-03 21:53] knownasilya commented on #792
Also blank lines ignored..

[2015-06-03 21:57] knownasilya commented on #535
Doing this this week: http://docs.travis-ci.com/user/gui-and-headless-browsers/

[2015-06-03 22:36] notbrain commented on #792
Also, now that I have the file uploading properly, I'm seeing my custom script not pick up specific vars that should be set (as shown on the Env Vars page). To test it I `echo $APP_MYSQL_USER` as the first line of the Prepare Stage and it echoes as I expect during a test run.

But when Strider runs my app's `./migrateSchema` command in the Prepare Stage, which is expecting `$PROTEUS_MYSQL_USER`  a

[2015-06-03 22:39] oliversalzburg opened #793 "Cache is not deleted when a project is deleted"
When I delete a project, the node/bower caches are not removed from disk.

[2015-06-03 22:50] notbrain commented on #792
Nevermind, Wrong Branch Syndrome!

[2015-06-04 02:37] #793 closed

[2015-06-04 02:39] #786 closed

[2015-06-04 10:05] oliversalzburg commented on #793
Awesome!

[2015-06-04 11:14] oliversalzburg commented on #790
Closed per https://github.com/Strider-CD/strider/commit/c4e2a1e85e97972d27a9338346362097bea18a7e

[2015-06-04 11:14] #790 closed

[2015-06-04 13:46] oliversalzburg opened #794 "Use debug for logging"
[debug](https://www.npmjs.com/package/debug) should be used instead of direct `console` calls.

Optimally, a lot more logging would be going on overall ;)

[2015-06-08 01:03] #717 closed

[2015-06-08 01:04] knownasilya commented on #758
@laurentj can you help with reproducing this issue?

[2015-06-08 01:08] knownasilya commented on #535
@niallo would love some help setting up the integration tests with sauce labs. Currently it fails on travis.

[2015-06-08 05:54] djensen47 commented on #697
I think you're punting on an actual issue. I'm seeing this with `sudo npm install -g strider`

If I'm sudo, I shouldn't have permissions issues.

[2015-06-08 05:57] djensen47 commented on #697
No matter how I try this I get a similar error. It seems to complain about directories that don't exist.

[2015-06-08 06:57] djensen47 opened #795 "No migrate/upgrade instructions"
I attempted to migrate from 1.4.5 to 1.6.6 with an `npm install` and now all of my projects are missing. Can't access most screens but hey, I'm logged in.

So where are the instructions for when you want to migrate versions?

[2015-06-08 06:57] djensen47 opened #796 "JavaScript errors when loading most pages"
GET http://hostname/scripts/app.js net::ERR_CONTENT_DECODING_FAILED
plugin-config-compiled.js:6 Uncaught ReferenceError: angular is not defined(anonymous function) @ plugin-config-compiled.js:6
account-plugins-compiled.js:6 Uncaught ReferenceError: angular is not defined(anonymous function) @ account-plugins-compiled.js:6
plugin-status-compiled.js:6 Uncaught ReferenceError: angular is not defined(

[2015-06-08 08:36] oliversalzburg commented on #697
@djensen47 What are the errors you are receiving?

[2015-06-08 08:39] oliversalzburg commented on #796
Try building resources with `npm run build`.

[2015-06-08 12:04] knownasilya commented on #697
@djensen47 try master. Bower has been removed , just remember to run `npm run build`

[2015-06-08 12:09] knownasilya commented on #697
`npm install -g Strider-CD/strider`

[2015-06-08 12:10] knownasilya commented on #795
@niallo do you know about any migration requirements?

[2015-06-08 13:57] knownasilya opened #797 "Refactor to not use node's domain API (deprecated)"
Use `process.on('uncaughtException')` instead. Also see which plugins are using it and do the same.

[2015-06-08 14:00] knownasilya commented on #572
Global as in to the user or for all users?

[2015-06-08 14:04] niallo commented on #795
I'm not sure if the db schema changed. We did have an upgrade step for 1.4
I remember working on it and testing it. But since 1.4 I haven't been
working on stuff much.

There is an upgrade command which handles plugins in 1.6 -
https://github.com/Strider-CD/strider-cli/blob/master/commands/upgrade.js

I wonder if that might solve it. Maybe @keyvanfatehi knows?

Of course if we dropped the ball and

[2015-06-08 14:05] knownasilya commented on #795
@djensen47 Are you seeing any errors in server/browser?

[2015-06-08 14:14] rimusz commented on #572
all users please

[2015-06-08 16:19] keyvanfatehi commented on #795
There are no schema changes between 1.5 and 1.6 that I'm aware of. I don't think that the plugin upgrade feature would help OP, unless it was a plugin issue responsible for the projects not showing up. Most likely there's some error happening in the client-side code that's preventing the projects from showing up. Also curious about the any console errors on server or browser.

[2015-06-08 16:31] oliversalzburg commented on #795
Given #796 and #697, it's very likely caused by a missing build step after the upgrade IMHO.

[2015-06-08 16:34] knownasilya commented on #795
@oliversalzburg agreed.

[2015-06-08 23:18] knownasilya commented on #758
@laurentj see if master fixes you're issue.

[2015-06-09 07:11] duykhoa commented on #429
I hope Strider can support simple API, includes running test for a project and build status

[2015-06-09 08:11] oliversalzburg commented on #429
Probably related to #177

[2015-06-09 12:11] knownasilya commented on #429
That would be a nice feature. Seems like we'd need a UI for creating API keys that a tool could consume.

[2015-06-09 12:15] oliversalzburg commented on #429
For a quick first patch a random key could be assigned to each user and be displayed in their account page. I'm sure that would already take care of a lot of use cases.

[2015-06-09 12:29] knownasilya commented on #429
Agreed. Would just have to setup the passport auth middleware and we should be set.

[2015-06-09 18:12] mateeyow commented on #746
I'm also wondering how to deploy on AWS instance since my amazon instance needs the pem file to connecto the the EC2 instance.

[2015-06-09 18:24] mateeyow opened #803 "How to add a private github repository on strider"
As the title says. I'm a bit confused in adding a private github repository. I've tried adding my username and password on the http(s) auth type but the notification only shows failed to create project without any reason why.

[2015-06-09 18:44] oliversalzburg commented on #746
Just FYI, @jaredly recently merged a change in ssh-keypair that would allow strider to generate RSA keys by default. Hopefully, he'll publish a release to npm soon so we can update the dependency.

[2015-06-09 18:49] oliversalzburg commented on #803
1. Make sure you allow the `strider-github` plugin to communicate with GitHub. Go to https://github.com/settings/developers and register a new application. Make sure the **Homepage URL** is the correct URL where your Strider instance runs. The **Authorization callback URL** should be `https://your.strider.instance/auth/github/callback`.

2. According to https://github.com/Strider-CD/strider-github

[2015-06-09 19:34] knownasilya commented on #803
Step **1** should be automatic, as long as all of your strider settings are correct, like `SERVER_NAME`..

[2015-06-10 06:46] mateeyow commented on #803
@oliversalzburg Thanks. I did all of the steps yestereve. Didn't realize the private repository was not mine. But it's there. Thanks a lot.

[2015-06-10 06:54] mateeyow commented on #803
Weird, I am getting this error message:  `{"results":[],"status":"error","errors":[{"code":500,"reason":"Failed to setup repo: Bad status code: 404"}]}` when creating a private repo that is originally not mine.

[2015-06-10 08:26] oliversalzburg commented on #803
@mateeyow Do you have access to the strider log? What exactly is the configuration here? Is this a private repo of another individual or an organization?

[2015-06-10 08:40] mateeyow commented on #803
Here's the error log
[code]
I'm using docker-strider and all the environment is correctly configured. I can create a project if the repository is public. And the private repo is of another individual

[2015-06-10 08:49] oliversalzburg commented on #803
@mateeyow Do you know whether you have write access to the repo? From what I can tell, strider isn't able to create the service hook in the repo. Which is understandable. But this case should definitely be handled in a better way.

[2015-06-10 08:50] mateeyow commented on #803
Yes, I have write access since I can push into the repo. Is this in anyway connected to the SSH keys?

[2015-06-10 09:00] oliversalzburg commented on #803
@mateeyow I don't think so, but I would have to check the complete workflow of the plugin to be sure.

On Github, when you go into the settings of the repo, are you allowed to add webhooks manually?

[2015-06-10 09:02] oliversalzburg commented on #794
- [x] strider-git
- [x] strider-github
- [x] strider-gitlab

[2015-06-10 10:54] frank-dspeed opened #805 "move github depricated checks from strieder to strider-github"
currently https://github.com/Strider-CD/strider/blob/v1.6.6/lib/libconfig.js holds a check for deprecated env vars that needs to get moved partial to the github plugin not the strider main source

[2015-06-10 10:56] frank-dspeed opened #806 "Lets Refactor strider to diet.js framework for faster coding and more easy handling"
Changing the framework from express to diet will improve code readability and allow promises and all that.

[2015-06-10 11:03] oliversalzburg commented on #806
Can you give an example of the improvements you mention?

[2015-06-10 11:05] frank-dspeed opened #807 "Lets make strider use templates via diet.js"

[2015-06-10 11:09] frank-dspeed commented on #806
http://dietjs.com/

look here read it it will not take more then 30 min to read it all you will after that understand that we get a good plugin system and theme system as also better code and modularity because the promise like signal styles referenzed as $ simply read it all.

it will save us even from call back hell and will also reduce the whole code to be more readable.

[2015-06-10 11:33] mateeyow commented on #803
Nope I can't

[2015-06-10 11:39] oliversalzburg commented on #803
@mateeyow That seems to be the core of the issue. Strider is trying to create a webhook and fails to do so. I guess only the owner of a private repo can add them.

Strider *could* ignore this problem, but it would not be able to start a build when you commit to the GitHub repo and I don't think there is a workflow in Strider to allow you to manually set up the hooks.

Your best option at this poin

[2015-06-10 11:41] mateeyow commented on #803
Thanks a lot for the enlightment @oliversalzburg

[2015-06-10 11:41] #803 closed

[2015-06-11 16:05] oliversalzburg opened #808 "Build time is sometimes wrong"
![](http://i.imgur.com/itistMO.png)

You can see that the running task is apparently running for 16m already, even though previous build took considerably less time.

I *assume* this is because the `started` time stamp is generated when the job is registered (like when a webhook is triggered). But there may be other running tasks, so the job can't run right away.

[2015-06-15 04:49] girvo opened #809 "SERVER_NAME isn't working"
Hi all,

I've set the `SERVER_NAME` environment variable correctly, both in my `forever-service` installation and in my `/etc/environment` however for some reason whenever I try to setup OAuth connections the redirect URL is set to `http://localhost:3000/`.

Is there something in the docs that's missing, or have I done something silly?

[2015-06-15 08:10] oliversalzburg commented on #809
It's working for us. I would suspect your setup isn't correct.

[2015-06-15 10:17] fernandoneto commented on #809
working fine for me too. can you try set the variable in `.bashrc` or `.bashprofile` only?

[2015-06-16 11:59] mabc224 opened #810 "Checking existence of file in project"
i am writing a custom plugin. In this plugin, i want to check existence of some specific file in environment stage of project. If file exist, I want to do some work.

Here it is part of my file. This function is defined in worker.js file and plugin type is job.
I am using GitHub provider plugin supplied with StriderCD.

[code]

Above code is not detecting file. How can i check existence of file?

[2015-06-16 12:17] oliversalzburg commented on #810
You probably need to construct an absolute path to `.circ`. I'm not sure where you expect the file to exist.

[2015-06-16 12:35] knownasilya commented on #810
Have a look at strider-node, it looks for a file.

[2015-06-16 13:54] mabc224 commented on #810
@knownasilya
Thanks for pointing out.

@oliversalzburg
Here it is my project.
[https://github.com/mabc224/demo-todo-express-app](https://github.com/mabc224/demo-todo-express-app)
I want to check in environment stage that there exists **.circ** file in root folder of project.
i try **context.dataDir** and it finds the path.
but now the problem is **git clone** is working in prepare stage and i am u

[2015-06-16 15:06] oliversalzburg commented on #810
@mabc224 If you want to access a file in your repo, *before* it was cloned, you will need to retrieve it directly through the source code provider plugin.

This is what is done for the `strider.json` file during the environment phase.

For your reference:
- https://github.com/Strider-CD/strider/blob/master/lib/backchannel.js#L37
- https://github.com/Strider-CD/strider-github/blob/master/lib/api.js

[2015-06-17 10:56] devotox opened #811 "Cant get Repos from Github"
![screenshot 2015-06-17 11 54 57](https://cloud.githubusercontent.com/assets/2064846/8205359/cb7e55f0-14e7-11e5-9bf4-fcaa29249a5a.png)

[2015-06-17 12:46] oliversalzburg commented on #811
@devotox Is there anything in the console in the browser's DevTools?

[2015-06-17 14:13] knownasilya commented on #811
What does it look like when you select the github account tab?

[2015-06-19 12:10] mabc224 commented on #810
@oliversalzburg i want to run multiple tasks in order in specific stage. I have _.conf_ file where i have defined these tasks.
if execution of all tasks of specific stages have completed then that stage should give successful response. otherwise show error message.
currently i defined it in this way. Need your suggestion to control order and response.

**.conf**
[code]

[code]

[2015-06-19 12:19] knownasilya commented on #810
@mabc224 looks like you are recreating what's already in `strider.json`, se here: https://github.com/Strider-CD/strider-custom#using-striderjson

[2015-06-19 12:21] oliversalzburg commented on #810
@mabc224 It's possible that I implemented something similar for our setup recently.

We use `strider.json` to run custom scripts at each stage. We have a file named `strider.json` in our repository. This file is loaded by strider through the VCS provider plugin and merged with the web configuration. Our file looks like this for one project:

[code]

We then place scripts in the `.scripts` folder o

[2015-06-19 12:45] mabc224 commented on #810
@oliversalzburg i have not only t run custom scripts. I have many tasks for different stages.
For example there is a task to create dns hostname by calling rundeck job scheduler api.
I can define creating dns hostname in any stage.
[code]

Also there involve a task to deploy on local npm registry and Amazon ECS at different stages.
Do i need to create plugin for these tasks separately and for each

[2015-06-19 12:49] oliversalzburg commented on #810
@mabc224 I don't see why that wouldn't be possible with what I suggested. Either way, if you still want to roll your own plugin, the way to do it should be clear by now.

[2015-06-19 13:19] knownasilya commented on #810
I see this in the future, being able to customize more granularly when things run. Currently it's kind of magic, since the plugins run in the order that you put them in the plugin list, but then it's not clear what plugin runs at what phase. The user should know the flow of the build/test/deploy..

[2015-06-20 06:32] talexand opened #812 "'Upgrade all' upgrades just-uninstalled plugins"
Steps to reproduce:

1. Uninstall an upgradable plugin from the admin panel while upgradable packages are available in the UI
2. Click 'Upgrade All'

Installed version: Strider 1.6.6 on heroku.

[2015-06-21 11:08] oliversalzburg commented on #812
Yeah, I'm pretty sure this happened to me as well.

[2015-06-21 17:06] mauron85 commented on #596
+1 for relative urls

[2015-06-22 04:51] sebas5384 opened #813 "Local environment setup for contributing"
Hey! I want to contribute with plugins, and stuff but I don't know how to setup a local environment in order to develop and test the plugins.
For example like connecting with Github.

Any guidance?

thanks.

[2015-06-22 06:57] oliversalzburg commented on #813
GitHub has a lot of guides available to get your started: https://help.github.com/

[2015-06-22 12:00] magalhas commented on #114
Is this already possible or still in the plans? It would be awesome something that could detect dependencies through the `package.json` file and automatically upstream/downstream things.

[2015-06-22 12:12] knownasilya commented on #114
I'm guessing it's still planned. Maybe once http://libraries.io has an API..

[2015-06-22 12:13] knownasilya commented on #813
Also if you use `strider init` it will create a template plugin directory.

[2015-06-22 17:09] sebas5384 commented on #813
Thanks for the help!
My major doubt is about connecting my local strider to Github, because Github wont be able to reach my local environment, right?

[2015-06-22 17:11] oliversalzburg commented on #813
@sebas5384 If you want to make use of service hooks, you will need to have a system that can be reached online. But you can always deploy manually, I guess.

[2015-06-22 17:38] sebas5384 commented on #813
hmmm @oliversalzburg good point, I could test it deploying manually, but what about connecting the Strider to Github account and cloning the repos?

[2015-06-22 17:52] oliversalzburg commented on #813
@sebas5384 That should work just fine. You just need to configure the GitHub provider. I'm not sure where the process is documented though.

[2015-06-22 19:13] knownasilya commented on #813
It should be automatic, as long as you set all of the env variables, see the strider-github (and strider) readme.

[2015-06-23 01:18] charlitos85 opened #814 "Change directory from the repos"
I try to use strider into windows 2008 server, i need change the directory to use into strider repos.

How can do that? i cant find nothing

[2015-06-23 01:57] sebas5384 commented on #813
Thanks I'll try to install locally and then make some step-by-step guide :+1:

[2015-06-23 03:14] knownasilya commented on #814
Can you be a little more specific about what you are trying to do?

[2015-06-23 08:28] olalonde opened #815 "npm ENOMEM error during build"
I'm getting an `Error: spawn ENOMEM` error during npm install of strider `v1.6.6` on a `1 GB General Purpose v1` Rackspace server. I'm attempting to install Strider using Dokku which uses Docker and don't have any other processes running on the machine. Is this normal? Does Strider require more than 1 GB memory?

[code]

[2015-06-23 09:59] oliversalzburg commented on #815
Strider probably doesn't require more than 1 GB of memory, the build process however seems to do so.

We use a 4 GB machine for our build server. But our builds also require quite a bit of memory.

[2015-06-23 10:03] fernandoneto commented on #815
my machine have 1 GB of memory and i don't have any problems installing.

[2015-06-23 11:09] olalonde commented on #716
+1 same error when deploying to Dokku https://github.com/progrium/dokku/issues/1244

[2015-06-23 12:29] olalonde commented on #815
Fixed by using 2GB machine.

[2015-06-23 12:29] #815 closed

[2015-06-23 12:30] olalonde opened #816 "Build fails at ruby buildpack step"
In trying to deploy Strider on Dokku (similar to Heroku), the build fails after getting the Ruby buildpack.

[code]

[2015-06-23 13:28] knownasilya commented on #816
Looks like an issue for Dokku (or the buildpack repo), since it doesn't seem Strider related.

[2015-06-23 13:29] knownasilya commented on #815
If you use master, you can install with `npm install --production` and skip the dev dependencies and the build step.

[2015-06-23 17:57] olalonde commented on #816
It seems the issue is also present on Heroku: https://github.com/Strider-CD/strider/issues/716#issuecomment-102203704

So yeah, it's probably a bug with a buildpack but at the same time, Strider should fix its `.buildpacks` file and Heroku install instructions if possible.

The thing that is really annoying is that this just fails silently and I have no idea where the problem is.

[2015-06-23 18:02] knownasilya commented on #816
@olalonde I would totally love your help, since I myself don't use Heroku. I can help in any way, if you have questions.

[2015-06-23 18:03] olalonde commented on #816
@knownasilya ok, I'll keep track of my progress here if I manage to sort this out.

[2015-06-23 18:06] knownasilya commented on #816
Looks like the ruby buildpack is outdated, maybe we could try updating that.

[2015-06-23 18:07] olalonde commented on #816
@knownasilya I tried that already but didn't fix the problem. :(

[2015-06-23 19:24] olalonde commented on #816
After adding `Gemfile` containing only `source "https://rubygems.org"`:

[code]

After adding empty `Gemfile.lock` file:

[code]

[2015-06-23 19:25] knownasilya commented on #816
So it looks like you need to update the ruby buildpack to use a newer version of Ruby?

[2015-06-23 19:43] olalonde commented on #816
So previously, I just created an empty `Gemfile.lock` file. In this iteration, I generated the `Gemfile.lock` using `bundle install` and got this new error, yay:

[code]

[2015-06-23 19:46] olalonde commented on #816
Seems related: https://github.com/heroku/heroku-buildpack-ruby/pull/175

[2015-06-23 20:03] michaelshobbs commented on #816
Adding `Gemfile` and `Gemfile.lock` along with updating `.buildpacks` like the following seemed to get strider deployed.

[code]

[2015-06-23 20:25] olalonde commented on #816
Can you share the content of you `Gemfile` and `Gemfile.lock` files please? I updated .buildpacks with `https://github.com/heroku/heroku-buildpack-ruby.git#v138` as well but getting this error now:

[code]

My Gemfile:

[code]

Gemfile.lock (generated by running `bundle install`):

[code]

[2015-06-23 20:31] olalonde commented on #816
Running the failed command from bash yields the same error:

[code]

Maybe the issue is with the `--max-time 30` flag?

[2015-06-23 20:39] olalonde commented on #816
Yep that seems to be the issue. I tried downloading without the `--max-time` flag and the file size is different:

[code]

Related: https://github.com/heroku/heroku-buildpack-ruby/pull/175

[2015-06-23 21:02] stampfl opened #817 "Error after Oauth connection to Github"
I'm running Strider on a RHEL 6 server behind a corporate firewall. After authorizing strider on my Github profile, the Strider projects page says:
Failed to refresh repositories: [object Object]
![error refreshing](https://cloud.githubusercontent.com/assets/778277/8317103/fd7071e8-19af-11e5-9b26-2cd3475e484c.jpg)
Thanks for your help.

[2015-06-23 21:10] knownasilya commented on #817
Duplicate of https://github.com/Strider-CD/strider/issues/811, feel free to follow that issue.

[2015-06-23 21:10] #817 closed

[2015-06-23 21:11] knownasilya commented on #816
@olalonde don't give up! :+1:

[2015-06-23 21:23] stampfl commented on #811
For me there is nothing in the console. The Github account shows my username and links back to my profile.

![github](https://cloud.githubusercontent.com/assets/778277/8317538/2f53c176-19b3-11e5-95aa-87131b09b06f.jpg)

[2015-06-23 21:23] olalonde commented on #816
Thanks @knownasilya :+1:  Yay :+1: :+1:  `dokku config:set strider CURL_TIMEOUT=600` seems to have fixed the problem:

[code]

Waiting to see if the build completes before closing this issue and sending a PR.

[2015-06-23 21:59] knownasilya commented on #716
Closing, since it was probably fixed with #818

[2015-06-23 21:59] #716 closed

[2015-06-23 22:00] knownasilya commented on #811
Thanks @stampfl!

[2015-06-23 22:07] olalonde commented on #816
It worked, sent a PR. Thanks @knownasilya and @michaelshobbs

![yasss](https://media0.giphy.com/media/z91tFIwWZOJq0/200.gif)

[2015-06-23 22:07] #816 closed

[2015-06-23 22:26] olalonde commented on #809
Getting same error on master.

[2015-06-23 23:02] charlitos85 commented on #814
i need replace the destination of the repo where strider  stored into windows. because for default strider try to use a temp directory, and generate a privilege error.

[2015-06-23 23:35] olalonde commented on #809
Fixed by adding `PLUGIN_GITHUB_APP_ID` and `PLUGIN_GITHUB_APP_SECRET` env config.

[2015-06-23 23:38] knownasilya commented on #809
@girvo can you try that?

[2015-06-24 11:48] oliversalzburg commented on #816
dat gif…

[2015-06-24 11:50] oliversalzburg commented on #814
@charlitos85 Are you talking about the location where strider is installed or where it places checkouts of projects you're building?

[2015-06-24 11:57] oliversalzburg commented on #811
@devotox @stampfl Can you provide the strider log output?

When you receive `Failed to refresh repositories: [object Object]` the full error should be logged on the strider backend. This should give us a clear picture of what's going wrong.

[2015-06-24 12:09] olalonde opened #819 ""Not authorized" error after adding user to collaborators"
I added a collaborator to a project but when accessing the project's URL, he is getting a "Not authorized" error page. The collaborator can succesfuly login in Strider.

[2015-06-24 12:15] olalonde commented on #819
Setting the user as an admin fixes the issue though this is not idea.

[2015-06-24 12:19] knownasilya commented on #819
The collaboration roles need to be straightened out. There's a related issue floating around.

[2015-06-24 12:20] knownasilya commented on #811
It might be a clientside error..

[2015-06-24 12:21] oliversalzburg commented on #811
@knownasilya The error is probably originating from https://github.com/Strider-CD/strider/blob/187ba1607452cbd8c6736719ddb320b62a5c6338/lib/routes/projects.js#L98

[2015-06-24 14:44] olalonde commented on #819
Yep seems to be a duplicate of: https://github.com/Strider-CD/strider/issues/750 , closing.

[2015-06-24 14:44] #819 closed

[2015-06-24 15:32] fernandoneto commented on #814
to change the destination where strider clones repos you can use the var `STRIDER_CLONE_DEST`

[2015-06-24 16:15] knownasilya commented on #814
@fernandoneto thanks. I just added that to the readme.

[2015-06-24 19:23] stampfl commented on #811
The error is coming from the back end. Here is the entire log at ~/.pm2/logs/strider-error-0.log
I've already resolved the missing email mentioned in the log.
[code]

[2015-06-24 19:48] knownasilya commented on #811
It didn't restart your instance after update, since the touch failed.

[2015-06-24 21:13] charlitos85 commented on #814
i receive this error in the console

git clone --recursive git@bitbucket.com:test/test-xxx . --branch master bitbucket 3s
Invalid Date
 -1
Cloning into '.'...
bash.exe: warning: could not find /tmp, please create!
Warning: Identity file C:UsersADMINI~1AppDataLocalTemp2_gitaneidaff722db.key not accessible: No such file or directory.
Permission denied (publickey).
fatal: Could not read from remote r

[2015-06-24 21:18] knownasilya commented on #814
Looks like gitane is trying to create temp files, but cannot. Sounds like a permissions issue, and a bad error message since /tmp isn't a valid windows path.

[2015-06-24 22:08] stampfl commented on #811
Working! It was a permissions issue. Only some of the folders (like node_modules) could be modified by the app user.

Any suggestions for permissions levels for this project? I'm deploying with puppet and running with a dedicated user. In any case, I'm good now. Thanks for your help!

[2015-06-24 22:24] oliversalzburg commented on #814
Sorry for not realizing it earlier, but gitane doesn't work on Windows at all. You're out of luck for the moment.

[2015-06-25 00:43] knownasilya commented on #814
Regarding that, gitane was written before there were any decent node git clients, maybe it's time to replace it. I think there's an issue floating around about it too, https://github.com/Strider-CD/strider-github/issues/1

[2015-06-25 01:08] knownasilya commented on #811
@devotox what about you? :smile:

[2015-06-25 07:21] oliversalzburg commented on #814
I just want to note that gitane is probably used because it allows using custom SSH keys.

[2015-06-25 12:52] knownasilya commented on #814
But since github supports custom ssh keys, shouldn't it be automatic (just thinking out loud..)?

[2015-06-25 14:02] oliversalzburg commented on #814
Not really. If you would just spawn git, it would use the SSH keys of the user that runs strider. But those aren't necessarily the ones that should be used. Especially since, currently, a new set of keys is generated for each project and is used for deployment keys and whatnot.
So the ability to be able to run git in an environment where strider has full control over the keys seems crucial to me r

[2015-06-25 14:14] knownasilya commented on #814
So is it the ssh key part that isn't windows compatible?

[2015-06-25 14:25] oliversalzburg commented on #814
Correct. The way Gitane sets up an environment for git/ssh to use seems impossible on Windows.

Gitane will set a `GIT_SSH` environment variable, so that git then tries to execute that file for SSH access. But the file is a shell script, which Windows can't run. And it's all downhill from there.

[2015-06-25 20:03] phiros opened #820 "package.json: version question"
Hi,

I just noticed that in package.json the version of strider-github is set to ```^1.3.0``` even
though the newest version is ```2.1.0```. Is there a specific reason for this?

[2015-06-25 21:56] knownasilya commented on #820
Plugins are managed in the plugin manger in the app, see Admin > Plugins in the UI.

[2015-06-25 22:09] ynnt opened #821 "Strider and remote executors"
Hi!
Is there any remote runners for strider? For e.g. I want to build and then deploy my Obj-C application.

Could I do this if my Strider server and XCode are on the different servers?

[2015-06-25 22:28] knownasilya commented on #821
https://github.com/Strider-CD/strider-remote-worker that might work. I've never used it, but give it a try.

[2015-06-25 23:56] dodwmd opened #822 "Bitbucket Hook POST 404's"
I noticed that my project doesn't automatically compile/deploy when doing a commit/push. I checked bitbucket and it's got a few webhooks automatically setup. However when i look at the strider.log i found:

POST //username/project/api/bitbucket/commit/Udiecoh5Eil4thahnu4ecaeniv4hie3aeheequoo6ieD1pah7phoopee2dooThae 404 732.955 ms - 118

If i edit the webhook and remove the // it works fine. I gues

[2015-06-26 06:43] carlitux opened #823 "Failed to refresh repositories: [object Object]"
I can't refresh my projects from github but looks like reques is successfully.

statusCode: 200,
    status: 200,
    statusType: 2,
    info: false,
    ok: true,
    redirect: false,
    clientError: false,
    serverError: false,
    error: false,
    accepted: false,
    noContent: false,
    badRequest: false,
    unauthorized: false,
    notAcceptable: false,
    forbidden: false,
    notFou

[2015-06-26 10:02] knownasilya commented on #823
Make sure your filesystem user permissions are good.

[2015-06-26 11:54] ynnt commented on #821
It may be dumb question, but how can I run it?

[2015-06-26 16:43] carlitux commented on #823
now is with root and paths has root as owner.

[2015-06-26 17:44] knownasilya commented on #823
@carlitux did that solve the problem?

[2015-06-26 17:46] carlitux commented on #823
No, I am still having same error.

On Fri, Jun 26, 2015, 1:45 PM Ilya Radchenko <notifications@github.com>
wrote:

[2015-06-27 20:33] Pithikos commented on #299
Hi, I am a bit puzzled on this. What is the current way to run tests on a pull request?

I have installed the Webhooks plugin and setup Github webhooks to fire for PR (from Github's settings tab). Still I am not sure how I am supposed to get this to work? "Github Status" plugin does not appear in Strider's list of plugins that can be installed..

[2015-06-27 22:34] knownasilya commented on #299
@Pithikos Thanks for the heads up, i'll add it.

[2015-06-27 22:38] knownasilya commented on #299
@Pithikos give it another go, I've added it to the index.

[2015-06-28 18:10] Pithikos commented on #299
@knownasilya Oh thanks, it seems to work. Cheers :)

[2015-06-28 20:55] phiros opened #824 "Restart individual jobs"
This might be a dumb question but is it possible to restart individual jobs?
So far I couldn't find anything that allowed me to restart a pull request job which originated from the github plugin.

[2015-06-29 01:14] knownasilya commented on #824
Not dumb, but consider this a feature request.

[2015-06-29 07:51] oliversalzburg commented on #824
I always though that when you open a specific job in the job monitor and click the retest button, it would retest that commit.

[2015-06-29 12:23] knownasilya commented on #824
I'm not sure about that, I think it's the project in general, but you might be right.

[2015-06-29 13:27] oliversalzburg commented on #824
Just tested this, I wasn't right. If only affects the branch. When opening a job that was on dev than the retest will be for dev as well, but it's always the HEAD.

[2015-06-29 15:42] knownasilya commented on #823
@carlitux are there any errors in the server log/console?

[2015-06-29 15:43] knownasilya commented on #821
@ynnt looks like you can't, see https://github.com/Strider-CD/strider-remote-worker/issues/2

[2015-06-29 15:45] knownasilya commented on #821
Closing this as a duplicate of #571, feel free to continue the conversation there.

[2015-06-29 15:45] #821 closed

[2015-06-29 15:45] #820 closed

[2015-06-29 15:46] knownasilya commented on #813
@sebas5384 I'm going to close this in favor of a PR :+1:

[2015-06-29 15:46] #813 closed

[2015-06-29 16:00] carlitux commented on #823
@knownasilya no just is logging the request.

[2015-06-29 20:16] knownasilya commented on #823
What does the network request look like when you refresh?

[2015-06-30 18:56] phiros commented on #824
Anyone interested in working on this?
I would but I don't have the time before the end of next week.

[2015-06-30 19:56] oliversalzburg opened #825 "Deleting an account can leave you unable to delete projects"
1. Register a Gitlab account in strider
2. Create a project from that account
3. Delete the Gitlab account from strider
4. Attempting to delete the project will fail

[2015-06-30 21:10] phiros opened #826 "making a project public allows non-users to cancel jobs"
This is not necessarily a bug but definitely a problem for larger open-source projects.
One person can easily troll an entire dev team by randomly pressing the cancel button.
Like the restart job button it should only be available to logged in users.

[2015-06-30 21:51] crash7 opened #827 "Support different release scenarios per branch"
Hi,
Not sure if this is a feature request for strider or more like a strider-plugin. I just started to test the project and look at the code so I can contribute in the future.

I would like to have different deploy scenarios for a particular branch:
- deploy to production
- deploy to staging
- deploy to introduction

It sounds like the "build promotion/delivery pipeline" plugin for jenkins (but I

[2015-06-30 22:35] knownasilya commented on #827
Would love to have you on board, check out https://github.com/Strider-CD/strider/issues/367

[2015-06-30 22:45] crash7 commented on #827
@knownasilya exactly that! Closing this in favor of feature issue #367 and #522

[2015-06-30 22:45] #827 closed

[2015-06-30 22:45] knownasilya commented on #806
Feel free to submit a PR ;)

[2015-06-30 22:45] #806 closed

[2015-06-30 22:50] knownasilya commented on #827
Also comments in https://github.com/Strider-CD/strider/issues/736 are related

[2015-07-01 03:19] #826 closed

[2015-07-01 03:19] knownasilya commented on #826
@phiros give master a go.

[2015-07-01 14:40] knownasilya commented on #825
@oliversalzburg any errors?

[2015-07-01 15:00] oliversalzburg commented on #825
@knownasilya Well, it'll fail to unregister webhooks because it can't retrieve the necessary information from a non-existent account.

Deleting an account should also delete all projects created from it, or it shouldn't be possible until all projects are deleted.

[2015-07-01 15:03] knownasilya commented on #825
I like the last method, since it would be too easy to delete all projects..

We can give them a list of projects that use the provider, so they don't have to guess or go sifting through.

[2015-07-01 18:18] carlitux commented on #823
from master branch

[2015-07-01T18:12:35.279Z] (sys) Starting

30439 forked
2015-07-01T18:12:39.177Z - info: Using SMTP transport from config
2015-07-01T18:12:39.830Z - info: Using MongoDB URL: mongodb://localhost/strider-foss
2015-07-01T18:12:40.996Z - info: RUNNER INIT
2015-07-01T18:12:41.223Z - info: loaded templates
2015-07-01T18:12:41.474Z - info: initalized webapps
2015-07-01T18:12:41.475Z -

[2015-07-01 18:32] knownasilya commented on #823
You've followed these instructions? https://github.com/Strider-CD/strider-github#use-custom-hostname-and-port

[2015-07-01 18:48] carlitux commented on #823
Yes, I have no issues with authentication... I had but fixed with that
settings.

On Wed, Jul 1, 2015, 2:32 PM Ilya Radchenko <notifications@github.com>
wrote:

[2015-07-01 20:02] knownasilya commented on #758
Closing since OP is unresponsive.

[2015-07-01 20:02] #758 closed

[2015-07-01 20:04] knownasilya commented on #823
All the URLs have a blank access token qp.. Not sure if that's the issue.

[2015-07-02 19:35] notbrain opened #828 "Job failed but did not clean up/purge; now can't rerun anything"
The log output says the job was successful 5 minutes ago but the UI does not update. Then Chrome eventually shows the "tab is not responding" modal.

The log looks like this when I tried to cancel:

    2015-07-02T19:32:23.323Z - info: Got a request to cancel 55958e80c4bb28043862cfb4
    2015-07-02T19:32:23.324Z - info: io cancel 55958e80c4bb28043862cfb4 55958e80c4bb28043862cfb4
    2015-07-02T19:

[2015-07-02 23:17] notbrain opened #829 "Where did the cancel job button go? Also the progress bar juts out of its container."
![image](https://cloud.githubusercontent.com/assets/67282/8489905/c3663384-20d5-11e5-9f1a-1eaabdeca805.png)

[2015-07-02 23:17] notbrain commented on #829
This is on Chrome OSX latest.

[2015-07-02 23:56] notbrain commented on #828
Was caused by a "large" amount of error output from a 100% karma test failure run. I have since installed karma-quiet-reporter to mitigate this in the future but it's a use case that should probably be handled more gracefully.

[2015-07-03 12:19] devotox commented on #811
@knownasilya I apologize it took so long to get back to you. But yes i do believe it was a permissions issue and i am able to see my github repos now but when trying to add as a project i get this

015-07-03T12:16:06.095Z - error: TypeError: Cannot assign to read only property '_locals' of 404
    at ServerResponse.render (/Users/devonte/Documents/Doctify/platform/strider/node_modules/express/lib/

[2015-07-03 16:27] knownasilya commented on #829
Ah looks like my commit didn't work https://github.com/Strider-CD/strider/commit/76b2bf1ee91dab57d7b606c6d5c4995b6ef070d8 probably need to pass a context to the partial

[2015-07-09 01:27] notbrain opened #830 "How to fix perl locale settings on Ubuntu?"
I have tried a bunch of ubuntu settings and dpkg commands to set the locale appropriately, but strider does not seem to pick them up.

For every build I see this:

![image](https://cloud.githubusercontent.com/assets/67282/8556649/3e8f0420-24ad-11e5-8b99-b1cec0a5c9f7.png)

But when I ask the system (Ubuntu 14 LTS) for locale settings, they are set. Where is strider/perl picking this up from?

    $

[2015-07-09 01:29] knownasilya commented on #830
Try strider-env plugin.

[2015-07-09 01:34] notbrain commented on #830
Thanks!

![image](https://cloud.githubusercontent.com/assets/67282/8586098/db125822-259f-11e5-82c5-5df341bf78dd.png)

[2015-07-09 02:25] macropin commented on #812
This is probably the same issue I've seen.

[2015-07-09 02:34] #830 closed

[2015-07-09 03:36] knownasilya commented on #812
Could one of you try master and see if it solves the issue. Thanks.

[2015-07-09 10:08] Fiery opened #831 "Migrating Template Engine"
There were discussions about template engines and swig made it through all that to be the choice, however with swig "no longer maintained" (https://github.com/paularmstrong/swig/issues/628), looks like eventually it will reach the point to consider migrating swig to other alternatives.
I do like jinja style templating and I am also aware of some other young engines that has good benchmarks, like s

[2015-07-09 14:34] #745 closed

[2015-07-09 14:36] knownasilya commented on #831
I think we will go for a more traditional engine like Handlebars, especially to prevent too much logic creeping into the templates, which is currently a problem.

[2015-07-09 21:45] vmadman commented on #667
+1 for ditching angular ...

I mean, listen, I don't want to step on any toes here ... but Angular really made for a no fun Strider experience for me and my team.  None of us knew Angular and its SUPER opinionated.  I mean, seriously, do we have to learn Angular just to create our own plugins?! We finally gave up on it and just started circumventing all of things Strider is good for.  We HAD to, w

[2015-07-09 21:57] shaunc commented on #667
How about just cleaning up and publishing a REST api for a start. Then various clients would work.

[2015-07-09 22:41] sebas5384 commented on #667
:+1: for React and their friends:
- React Router.
- Reflux or Redux for Flux stack.
- Webpack.

And for backend Meteor or Sails (which I like it more).

[2015-07-09 23:38] knownasilya commented on #667
I'm on your side @shaunc, that's priority number one.

[2015-07-10 00:23] knownasilya commented on #812
This has been fixed in master.

[2015-07-10 00:23] #812 closed

[2015-07-10 00:26] bitwit commented on #667
I'm also very pro API-first. The JS framework discussion will continue endlessly and the better Strider can support whatever you want to interface with sounds best to me. 2 new MV* JS frameworks were published by the time you finish reading this.

On the subject of REST API features I would really like to see the job logs accessible via an endpoint. Maybe with a call that has a `?since=101` param

[2015-07-10 00:41] #829 closed

[2015-07-10 00:42] niallo commented on #667
the parsing of live text streams for ANSI control characters is
surprisingly slow unfortunately:-/

On Thursday, July 9, 2015, Kyle Newsome <notifications@github.com> wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-07-10 01:04] knownasilya commented on #667
Would love to see if there are better parsers, or if iojs has moved forward in this regard. Maybe even splitting out the phases some how so that the number of DOM elements isn't a big issue.

[2015-07-10 01:46] #825 closed

[2015-07-10 08:12] oliversalzburg commented on #667
Talks about rewriting certain aspects of Strider, just to arrive at the same point with a different technology, seem misplaced.

Not being able to write a plugin for Strider, because you don't know Angular, is not a reason to rewrite Strider; it's a reason to learn Angular.

If you want to rewrite part of an application, you should have a better reason than "It's written in X and I don't like X, w

[2015-07-10 14:02] vmadman commented on #667
@shaunc

I agree _completely_, its hard to overstate this.  If there's anything that practically every person in this thread shares, its knowledge on using REST.

@oliversalzburg

Agreed.  I only posted this because a "rewrite" was already on the table, seemingly, from the comments above mine.  I would not suggest that Strider should begin refactoring to ease my personal pain, but _if_ someone is

[2015-07-10 14:55] phiros opened #833 "bug: link to job output always shows currently running job"
I observed this issue several times. If you use the github status plugin you get a link to the status
of your PR job in github. However, if you click on it (for example http://foo.com/foo/job/559fd...) you will end up seeing the status of the currently running job (for example http://foo.com/foo/job/559f1...).

The following screengrab shows what my browser (tested both on current versions of fire

[2015-07-10 15:15] knownasilya commented on #667
Share anyway, and the community will come through, otherwise everyone misses out.

[2015-07-10 15:23] knownasilya commented on #824
@phiros I pushed up a change that adds a menu to the meta area for each job. Currently that contains "Cancel Job" and "Restart Job" (which is a placeholder for now).

[2015-07-10 15:24] knownasilya commented on #664
Would love for someone to help with fixing the tests so they work with Sauce in travis.

[2015-07-10 15:28] knownasilya commented on #833
@phiros I'm going to add you as a collaborator since you seem to be contributing. Thanks!

[2015-07-10 16:06] phiros commented on #833
Ok cool. I will try to fix some of the bugs I reported.

[2015-07-10 19:36] vmadman commented on #667
Sure, we have them bundled as a single plugin.. the reason why will be a little more clear when you see it.  As I said, we "circumvent" Strider in a particular way.  I'll mirror the plugin to GitHub as soon as I can.

[2015-07-11 00:15] notbrain opened #834 "Just tried to update/rebuild master and got a babel error"
SyntaxError: /home/ubuntu/strider/client/ansi/filters/ansi.js: Octal literal in strict mode (85:31)
  83 |     if (matchingControl !== null) {

    $ npm run build

    [BABEL] Note: The code generator has deoptimised the styling of "/home/ubuntu/strider/vendor/CodeMirror/js/codemirror.js" as it exceeds the max of "100KB".
    SyntaxError: /home/ubuntu/strider/client/ansi/filters/ansi.js: Octal li

[2015-07-11 01:22] knownasilya commented on #834
Give master a try again. Not sure if the change is correct. I read this

https://mathiasbynens.be/notes/javascript-escapes#hexadecimal

[2015-07-11 04:17] knownasilya commented on #667
Easy to talk, but if you want tp start doing something, I have just the thing. Documenting the existing API. I've setup [apidoc](http://apidocjs.com/#getting-started) in this commit https://github.com/Strider-CD/strider/commit/f3c0ad2b3cea73d0c8ab4f7c606c26d23cb17aad and would love all the help to document our existing API.

[2015-07-11 15:32] phiros commented on #667
Even though I might repeat what other people already mentioned: I think strider should increase its modularity. What I mean by this specifically is:

* Currently, Strider-CD/strider contains way to much functionality. In my opinion it would be good if
strider itself would just be a central communication hub for plugins.
* Plugins itself should be cleanly decoupled from each other (a syntax error i

[2015-07-11 16:18] knownasilya commented on #667
I agree about everything, but not sure about ProtoBuf. I feel like that would hinder community involvement since JSON is well understood but not so much for ProtoBuf. Although I totally see the benefits of using that format.

[2015-07-11 16:32] knownasilya commented on #667
The other concern is man-power. We don't have too many contributors, but maybe a rewrite will solve that (developers love new things).

[2015-07-12 00:08] #834 closed

[2015-07-12 16:38] carlitux commented on #823
@knownasilya fixed on update repository and re running npm install

[2015-07-12 16:38] #823 closed

[2015-07-12 18:07] knownasilya commented on #823
Glad that's over ;)

[2015-07-12 21:20] knownasilya commented on #199
Was this ever fixed?

[2015-07-13 02:33] knownasilya commented on #667
I would love to do a combination of [json api](http://jsonapi.org/) and ProtoBuf. I think it will make it simple to have a nice convention and have the speed of ProtoBuf. In the end any kind of client could consume, since implementations are being written for many clients for JSON API.

If anyone is interesting in starting writing the API from scratch, let me know, and we can start a specific brai

[2015-07-13 02:59] keyvanfatehi commented on #667
I've really enjoyed reading this thread! Thanks all!

Ilya, I am very much for the idea of writing a new API from scratch.

As an aside, I currently use Buildkite for CI and I love that by design it does very little. There is an agent (open source and cross platform) that you must install on your workers, and then point them at the orchestrator (buildkite's closed-source cloud software). For examp

[2015-07-13 03:40] knownasilya commented on #667
Sound like a good plan. Write them as they come. I think that Yeoman is still a good option in this regard for writing something like that. It will allow for shared knowledge and a good platform for that exact use-case.

Plugins might have to be two faceted, a core portion and a drone portion. I can see some plugins implementing one or both, it would depend what the plugin needs to do I think. The

[2015-07-13 06:26] keyvanfatehi commented on #667
I haven't looked at rethinkdb enough to comment on it.

The main thing that I like so far about hapi versus express has been the way you define routes. Routes are just objects that get passed into the `server.route` method. The method can take an object or an array of objects (routes), and the route object can contain keys that are used by other plugins or parts of hapi (e.g. using Joi to validate

[2015-07-13 17:10] notbrain commented on #834
WFM.

[2015-07-13 23:35] macropin commented on #348
:thumbsup:

Test and deploy phases should be separated, and optionally, test phase skipped or configured to always pass (Wordpress deployment, anyone?).

For our usage we'd also love to see support for rollbacks by clicking on the corresponding previous build.

[2015-07-14 00:23] knownasilya commented on #348
Rollbacks is a great use case. I think jobs should keep a reference to the sha, so that jobs can be restarted, and so deployments can work this way.

[2015-07-14 17:08] zakjan commented on #750
@m00t https://github.com/Strider-CD/strider/issues/750#issuecomment-86058583 There is a bug with saving the access level, it can be fixed with my PR #836

[2015-07-14 23:57] macropin commented on #569
(Came here after searching for password reset methods) I believe there should be a reset password command alias. `-f` is unapparent.

[2015-07-15 01:10] macropin opened #837 "Make admin link does not urlencode parameters"
The Admin: Users page 'Make Admin' link does not urlencode parameters. This means (for example) that email addresses containing '+' cannot be made admin.

[2015-07-17 02:51] knownasilya commented on #837
Might be an easy fix with `{{user.email | url_encode}}` here: https://github.com/Strider-CD/strider/blob/master/lib/views/admin/users.html#L31. Will have to test it out later.

[2015-07-17 17:44] jpic commented on #259
Here too, imho it's pretty common when you become mental about CI :dancer:

[2015-07-17 19:04] jpic commented on #667
Multiple build environments and Simultaneous builds are a must-have for devops. If it's as easy to test that a whole infra on a superior version of <some distro> as it is to test with another version of a dependency then we have a sane test system imho. Simultaneous builds is a must for devops and blue green deployment too because devop projects (ie. codebases using saltstack, ansible, chef ...) w

[2015-07-17 19:17] #837 closed

[2015-07-18 07:51] keyvanfatehi commented on #667
100% agree that we need true multiple build environments (this cannot be simply based on branches, it just doesn't work to tie the VCS into this).

I'd like more info about what blue green deployment is @jpic if you don't mind

[2015-07-18 12:40] jpic commented on #667
Sure, is it good enough if I cite [Fowler's article about BlueGreen](http://martinfowler.com/bliki/BlueGreenDeployment.html) ?

[2015-07-21 05:41] DeepzSandra commented on #590
i have the same problem pls dada help me..how can i solve the problem

[2015-07-21 10:29] macropin commented on #667
Guys, our 2c... Over at [Panubo](https://www.panubo.io/) we are using Strider solely for deployments to CoreOS (Docker / Fleet) clusters. We chose Strider because it seems like a good lightweight, flexible tool that is focused on CD, rather than CI duties...

To get Strider to handle CD tasks we've needed to write a [bunch](https://github.com/panubo/fleet-deploy) of [different](https://github.com/

[2015-08-11 14:18] rimusz commented on #572
@knownasilya I see this one was not added to v1.7.0

[2015-08-11 14:21] knownasilya commented on #572
No, a few items that were planned didn't make it due to lack of man power, but it's still planned for as soon as possible.

[2015-08-12 04:54] aredridel opened #844 "Invalid assumptions about the layout of node_modules causes errors with npm@3, and with npm < 3 after npm dedupe"
Because strider requires deep modules across module boundaries as in `lib/routes/admin/plugins/get_plugin_list.js`, lines like

[code]
throw an error.

A better approach might be to have `strider-cli` export that module itself, so you can `require('strider-cli').someProperty` to access that submodule's interface, or to depend on `strider-ecosystem-client` directly.

[2015-08-12 13:03] knownasilya commented on #844
@aredridel could you tackle this as a PR?

[2015-08-12 13:20] aredridel commented on #844
Possibly, if I get time!

[2015-08-13 23:39] markulf commented on #811
I get a similar error message:

[code]

Any solution for this? Strangely I get it only with some of my git projects but not with others, no clear pattern, some private repos work, others don't.

[2015-08-14 00:16] knownasilya commented on #811
It would really help if you could figure out the similarities so we can reproduce the issue.

[2015-08-14 11:32] markulf commented on #811
I currently suspect that it is related to not having admin rights for the relevant GitHub projects. Can confirm once I get those rights and the problem goes away.

So it may be just an issue of not so human readable error messages.

[2015-08-14 12:19] oliversalzburg commented on #811
@markulf Importing a project into strider will register webhooks with the project, which requires admin rights. So, your assumptions are probably correct.

[2015-08-15 07:51] markulf commented on #811
Thanks I can confirm this now, it worked once I got more rights.

A quick question, though I am looking for more information, and maybe this is a feature request: Can these webhooks also be triggered by other GitHub projects to reflect dependencies, i.e. my project depends on another GitHub project and I want to be notified when it gets broken by changes there.

Even if this in principle works, th

[2015-08-15 13:38] saraf commented on #811
There is perhaps a key in the first screenshot posted
the error message -
Failed to refresh repositories [Object object]

We actually do not receive an error, but an object parsed from JSON.

[2015-08-17 09:18] saraf opened #846 "Repo list on projects page shows duplicate entries for github provider"
If the user is an admin member of a team in an organization,
the repositories in the Project view show duplicate entries.

Screenshot:
![team repos and repos duplicated](https://cloud.githubusercontent.com/assets/117493/9301675/3690cf1e-450b-11e5-8eab-9cf20de75240.PNG)

This is because we are doing a concatenation at the end of lib/api.js
callback(null, repos.concat(team_repos));

The fix is to me

[2015-08-17 09:29] oliversalzburg commented on #846
But, aren't those actually separate repositories? I would assume one is a fork of the other, aren't they? I'm just surprised that I've never seen this in our environment.

[2015-08-17 09:30] saraf commented on #846
They have the same id

[2015-08-18 00:27] knownasilya commented on #811
Looks like the OPs issue was with Bitbucket. Might have to make the changes there as well?

[2015-08-18 00:55] knownasilya commented on #811
@markulf could you submit your feature request as a separate issue, with a little more detail and a use case? Thanks!

[2015-08-18 00:58] knownasilya commented on #814
Closing this issue, since it's technically been answered and there are other issues related to the windows issue.

[2015-08-18 00:58] #814 closed

[2015-08-18 01:00] knownasilya commented on #810
Closing since the question was answered, feel free to submit other issues.

[2015-08-18 01:00] #810 closed

[2015-08-18 01:00] knownasilya commented on #809
Ping

[2015-08-18 01:01] knownasilya commented on #807
Closing since it's not really constructive. Feel free to provide more detail, and I can reopen.

[2015-08-18 01:01] #807 closed

[2015-08-18 01:01] #797 closed

[2015-08-18 07:25] markulf commented on #811
Thanks, will do once I understand the use case better. Currently trying to work around it with git pre_post hooks.

[2015-08-18 10:39] oliversalzburg commented on #846
Interesting. Thanks for reporting this!

[2015-08-19 14:45] mnaughto commented on #667
After manually running deployment scripts for far too long, I started looking into CI applications and decided on Strider, largely because it runs on Node and seems a lot less complex to set up than Jenkins or whatever.

Since it's an easily-accessible portal to our private cloud, I've toyed with the idea of using it for more than just CI - like running database backups or running grunt tasks in a

[2015-08-19 15:06] knownasilya commented on #667
No, I think this is really the way we want to go.

[2015-08-19 15:27] niallo commented on #667
definitely. the data model is structured around jobs not builds per se. at
least that was my goal :)

jobs can do more than just build and push code and can be triggered by
different events - not just VCS events.

On Wednesday, August 19, 2015, Ilya Radchenko <notifications@github.com>
wrote:

--
Niall O'Higgins
W: http://niallohiggins.com
E: n@niallo.me
T: @niallohiggins

[2015-08-20 23:01] #846 closed

[2015-08-21 02:30] saraf commented on #846
Added test case for this, and comment about why it is needed in the source.
https://github.com/saraf/strider-github/commit/8a4ad9bc6797c9923658a792915a4a9c99989d79

[2015-08-24 15:24] mabc224 opened #850 "Execute other builds by current build"
I want to create a way for Strider builds to execute other strider builds.
As far as I know, Strider can only run 1 job at a time. This makes it very difficult for one build to execute another build at same time because it might result in a perpetual state of delay.
Still, even if that is the case, I should be able to trigger a build on strider by sending the request. So that if one job end it cou

[2015-08-24 15:32] knownasilya commented on #850
Have you seen https://github.com/Strider-CD/strider-cli#runtest this could be used with the custom plugin via a bash script.

[2015-08-25 13:56] saraf opened #851 "Progress bar displays incorrectly"
When a job is in progress, the progressbar goes outside its container.
Firefox 40.0.2
![progressbar goes outside](https://cloud.githubusercontent.com/assets/117493/9468378/437bd65c-4b7c-11e5-9684-6f7716996e1a.PNG)

[2015-08-26 01:11] mabc224 commented on #850
i give it [https://github.com/Strider-CD/strider-cli#runtest](https://github.com/Strider-CD/strider-cli#runtest) and it works well for initiating a job. Currently it require `strider` file that is in bin directory, to initiate job. How can i over come on this?

I am using it like this in `strider/bin` directory
`node strider runTest -l foo@example.com -p password -j username/repo-name`

I want to

[2015-08-26 12:42] knownasilya commented on #850
So is that not working for you? What errors are you seeing?

[2015-08-26 13:14] kauegimenes commented on #522
+1

[2015-08-26 13:20] knownasilya commented on #522
Development for 2.0 is going on here https://github.com/Strider-CD/core feel free to comment on the [design issue](https://github.com/Strider-CD/core/issues/1) or to contribute to the project in other ways.

[2015-08-26 17:09] mabc224 commented on #850
It works fine for me if i use it manually by initiating command from `strider/bin` directory.
I wrote new plugin for this functionality to run a next job but it does not work. How can i initiate job from plugin by using above code?
My case is, I should be able to trigger a build on strider by sending the request. So that if one job end, it could start another immediately.

[2015-08-26 17:32] knownasilya commented on #850
for your plugin you have to pass the actual path to the strider bin, so `node /path/to/strider/bin/strider args...`.

[2015-08-26 21:00] mabc224 commented on #850
i have already solved issue by giving full path. I set up path in env variable and used it.

[2015-08-26 21:38] #850 closed

[2015-08-27 14:59] mabc224 commented on #850
while running command, i am getting error.

I tested it on my `localhost:3000` and it works well. When i deployed it on `server:8080` and try it. it gives this error. Kindly check this.

[code]

[2015-08-27 15:42] knownasilya commented on #850
Because you need to pass a username and password, see https://github.com/Strider-CD/strider-cli/tree/a465e5f22b10259e305ee5e4715eccb2a3dd9e3e#runtest for the user running the test.

[2015-08-27 16:56] mabc224 commented on #850
i am passing username and password correctly.
I am using command like this `node strider runTest -l foo@example.com -p password -j username/repo-name -d true`
it runs correctly on `localhost:3000` but on `server:80` it is not working

[2015-08-27 17:10] knownasilya commented on #850
Sounds like your server is trying to access it from the outside world, with the url of your strider instance, and it cannot find it from the server. The error happens here: https://github.com/Strider-CD/strider-cli/blob/a465e5f22b10259e305ee5e4715eccb2a3dd9e3e/run.js#L13 see what that url is, and try to ping it from within your server.

[2015-08-30 17:32] jupe opened #852 "plugins -view crash"
Every time when I try to open plugins -page, I just get error view:
![image](https://cloud.githubusercontent.com/assets/3822425/9568566/093104da-4f56-11e5-9279-259c00e7a279.png)

Server log says:
[code]

Looks that everything else works fine. Is it possible that some broken plugin causes this issue? if so, there should be some validator for this kind of case..

[2015-08-30 19:13] knownasilya commented on #852
The plugin UI does a request to github, can your server access github?

[2015-08-31 09:25] oliversalzburg opened #853 "Cached node_modules are not deleted"
I just noticed that I have multiple cached node_modules for several projects on our build system.
[code]
I'm not quite sure this many caches should exist.

[2015-08-31 13:14] bsander opened #854 "Wrong submodule refs checked out when evaluating a non-master branch"
Because strider clones a repository with the `--recursive` option, submodule refs are checked out at the commit specified in the `master` branch (usually). When testing any other branch, Strider fails to perform a `git submodule update --init --recursive` after checking out that branch. This leaves the submodule states in an incorrect state and causes problems with tests that rely on updated submo

[2015-08-31 13:41] oliversalzburg commented on #854
Good catch.

FYI, you can use strider-custom to execute `git submodule update --init --recursive` during the *prepare* phase until this gets fixed.

[2015-08-31 13:43] knownasilya commented on #854
What would be the recommended fix for this?

[2015-08-31 13:47] bsander commented on #854
Ah yes, that would probably work for now. I'll give it a shot, thanks :)

[2015-08-31 13:55] oliversalzburg commented on #854
@knownasilya If you're not using submodules, then `git submodule update --init --recursive` simply won't do anything. So I would assume that it's safe to simply always run it after the checkout.

[2015-08-31 13:56] knownasilya commented on #854
So it exits instantly with 0?

[2015-08-31 13:57] oliversalzburg commented on #854
@knownasilya Correct.
[code]

[2015-09-11 05:34] scottbert opened #855 "JS broken in upgrade/fresh install"
[code]

...and I can't see anything other than the menu when I visit the page. Originally this was an upgrade, I've tried everything I can think of including updating to  node .12 from node .10, removing the entire of my node_modules and reinstalling as well as also "npm run build" in Strider's node_modules directory.

The error is at line 431. After `npm run build` the error shifts one line to 43

[2015-09-11 11:56] knownasilya commented on #855
So your code looks fine at that example that you pasted when looking at your script. Also your site is showing more then just the menu. Is this solved?

[2015-09-11 12:38] scottbert commented on #855
No, sorry. I reverted to 1.6.6 as I needed to do some builds. So I have a working 1.6.6, do you have upgrade instructions for 1.7, I can try again over the weekend?

[2015-09-11 12:40] knownasilya commented on #855
Upgrade to 1.7.4 should just be an npm install, since the build is already in the repo.

[2015-09-11 12:49] scottbert commented on #855
OK. Just updated to the latest. Similar issue - you can see if you check out the url.

Fedora 22 x86_64, Node 0.12.7, NPM 2.11.3.

Full upgrade log below
[code]

[2015-09-11 13:09] knownasilya commented on #855
Looks like you have some weird issue, because now it's broken at a different place in the script. Plus your script doesn't line up what's here: https://github.com/Strider-CD/strider/tree/v1.7.4

[2015-09-11 13:35] scottbert commented on #855
Yes, I have some weird issue, is why I raised a bug :P
Script doesn't always break in exactly the same place - previously I had Strider 1.7.3, now is 1.7.4.
If I go into the strider directory and run `nam run build` it'll break somewhere similar but not quite the same. I'm guessing because the versions of the scripts being compiled have changed.

The error is always consistent though. It breaks be

[2015-09-11 14:05] knownasilya commented on #855
Maybe give master a try?

[2015-09-11 21:02] thakerng opened #856 "Console doesn't display the result of shell script"
![screen shot 2558-09-12 at 3 53 42 am](https://cloud.githubusercontent.com/assets/2190704/9826093/e721a3d0-5901-11e5-95b3-813edbf52e76.png)

the result of pwd should be display in console

[2015-09-12 15:12] knownasilya commented on #855
Any luck?

[2015-09-15 12:09] kayoub5 opened #858 "Simultaneous Jobs."
According to #667, Simultaneous builds/jobs is not supported yet.
I would like to know what's currently prevents strider CD from supporting that.
Is it the runners, or strider itself?
I am currently writing a runner that run the code in a Google Compute Engine slave VM.
I managed to get it to work for 1 slave, my runner is extending the [simple runner] (https://github.com/Strider-CD/strider-simple

[2015-09-15 12:26] kayoub5 commented on #335
I managed to do it, by overriding the simple runner `spawn` config. and making it `ssh` into the slave machine. the problem is that I didn't get it to work on multiple slaves, yet.

[2015-09-15 13:31] knownasilya commented on #335
@kayoub5 check out Strider-CD/core, it's the latest work on a parallelized/distributed setup.

[2015-09-15 13:35] #833 closed

[2015-09-15 16:57] knownasilya commented on #833
@phiros can you confirm the fix worked?

[2015-09-15 21:13] knownasilya commented on #858
Probably both, but we are focusing efforts to support that with the new API which is being developed under [Strider-CD/core](https://github.com/Strider-CD/core).

Do you have your runner published anywhere?

[2015-09-16 11:52] kayoub5 commented on #858
is the new API usable/ready?

[2015-09-16 12:08] knownasilya commented on #858
No, it's still in prototype mode and we'd love all the help/feedback/ideas we can get.

[2015-09-17 17:54] Sridhararshanapally commented on #621
@howarddierking I am also facing the same error with NPM , did you able to figure out ?

[2015-09-17 18:23] howarddierking commented on #621
Yes, the problem, IIRC, was related to key reuse on GitHub. We ended up using myget.org for private package hosting - has proven to be a reliable solution.

[2015-09-19 20:14] #858 closed

[2015-09-19 20:14] knownasilya commented on #855
Were you able to find a reason?

[2015-10-02 19:25] bsdreuben opened #860 "No https support for strider."
I would like to be able to use strider remotely and securely. Please add in https support. There have to be others who want this.

[2015-10-03 06:14] jupe commented on #852
but even it request access, it shouldn't crash like now. Perhaps it just should give response like "please grant server access to github" or something similar.

[2015-10-03 09:03] oliversalzburg commented on #860
Just FYI, setting up nginx as a reverse proxy to enable HTTPS is rather easy (it's what we do).

Here's one of our nginx HTTPS reverse-proxy configs to get you started, in case you want to go this route:
[code]

This assumes nginx can reach strider at `http://localhost:7000` and will serve it as `strider.example.com`, adjust accordingly :)

![](http://i.imgur.com/ptpaKda.png)

[2015-10-03 17:06] bsdreuben commented on #860
Thanks for pointing me to a quick solution. I've never though of using a reverse proxy, but this is definitely a quick solution. My config file will be different since I'm running apache httpd.

[2015-10-03 17:30] oliversalzburg commented on #860
@bsdreuben When you set it up, maybe you could share your config as well. This could actually be useful for documentation purposes.

[2015-10-03 18:27] knownasilya commented on #852
Good point

[2015-10-03 20:48] fernandoneto commented on #860
+1 for @oliversalzburg suggestion

[2015-10-03 22:09] knownasilya commented on #853
This should probably go in the strider-node repo.

[2015-10-04 06:52] bsdreuben commented on #860
#
# This is the main Apache HTTP server configuration file.  It contains the
# configuration directives that give the server its instructions.
# See <URL:http://httpd.apache.org/docs/2.4/> for detailed information.
# In particular, see
# <URL:http://httpd.apache.org/docs/2.4/mod/directives.html>
# for a discussion of each configuration directive.
#
# Do NOT simply read the instructions in here wit

[2015-10-04 06:54] bsdreuben commented on #860
Unfortunalty, I can't run test https test against port 81.

[2015-10-04 12:45] phiros commented on #833
@knownasilya Sorry for the late answer. I just saw this.
I haven't updated our old strider installation in quite some time. Will do so when I have a little bit more time.

[2015-10-04 17:40] oliversalzburg commented on #853
Reported as https://github.com/Strider-CD/strider-node/issues/26

[2015-10-04 17:40] #853 closed

[2015-10-08 15:37] jet-snowman opened #861 "Button configure in project doesn't work"

[2015-10-08 15:37] jet-snowman commented on #861
just need to type / in view

[2015-10-08 15:53] knownasilya commented on #861
Can you explain a little more?

[2015-10-08 15:59] jet-snowman commented on #861
sure, current URL is http://domain/account/project/config - it doesn't work, but if append / like  http://domain/account/project/config/ works great 08.10.2015, 18:53, "Ilya Radchenko" <notifications@github.com>:Can you explain a little more?—Reply to this email directly or view it on GitHub.   -- Regards, Vadim Sadykhov  

[2015-10-08 16:03] knownasilya commented on #861
So which button is it that takes you to this url without the /?

[2015-10-08 17:12] jet-snowman commented on #861
sorry, I forgot to send image, http://s27.postimg.org/udiy6i2xv/Screen_Shot_2015_10_08_at_11_57_06_AM.png

[2015-10-08 18:01] knownasilya commented on #861
What version are you using?

[2015-10-08 18:05] jet-snowman commented on #861
1.7.5 master branch and after updated from 1.6.6 to 1.7.5 I lost all settings projects and hooks don't work...

[2015-10-08 18:10] knownasilya commented on #861
Did you update all of your plugins? There haven't been any changes to the schema so all of your settings should stay as is.

I suggest a fresh install with your current DB, just to rule out any old dependency issues.

[2015-10-08 18:13] jet-snowman commented on #861
I did - git pull origin master, npm install and all was broken... it's very very very not good

[2015-10-08 18:20] knownasilya commented on #861
How are you running the app?

[2015-10-08 18:31] jet-snowman commented on #861
via forever, so I think problem also in browserify

when I run npm install
The package browserify does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer browserify-shim@3.8.2 wants browserify@>= 2.3.0 < 9
npm ERR! peerinvalid Peer minifyify@7.1.0 wants browserify@>= 5

npm ERR! Please include the following file with any support request:
npm ERR!     /home/ec2-user/

[2015-10-08 19:14] knownasilya commented on #861
Try deleting your whole strider folder and recloning and npm installing, then run with `npm start`

[2015-10-08 19:28] knownasilya commented on #828
I've also seed this with bigger projects where there are several jobs lined up in the queue each with big `npm install` logs. I'm not sure where the bottleneck is. I'm assuming it's just an overload of data through the socket.

[2015-10-08 19:33] #809 closed

[2015-10-08 19:34] knownasilya commented on #809
Closed since the original poster is unresponsive.

[2015-10-08 19:37] jet-snowman commented on #861
did, npm install was good. So result:
1) I lost all settings
2) Web hooks still aren't working - maybe bitbucket has problems now
3) button still doesn't work :))

[2015-10-08 19:38] jet-snowman commented on #861
by the way, notification works but for only owner(or one account) so if users have an access of the same project only one will get email, don't know why

[2015-10-08 19:46] knownasilya commented on #861
What browser are you using?

[2015-10-08 19:51] jet-snowman commented on #861
chrome and in opera, safari don't work, but in version 1.7.2 the button is working... I think if type / all will work

[2015-10-08 19:53] knownasilya commented on #861
So my button doesn't have a `/` but it works right (it redirects to a url with a slash). Very weird.

[2015-10-08 19:54] knownasilya commented on #861
I just submitted a commit to fix the /, 9031e41701193771e17e67a064e9dd8b59d24645

[2015-10-08 19:58] knownasilya commented on #861
It working in 1.7.2 and not in 1.7.5 makes no sense whatsoever..

[2015-10-08 20:16] jet-snowman commented on #861
yeah problem not with /, when I type / in url works because browser reloads your page, I made video  https://play.boomstream.com/page.html?code=X1Ld3Pvv

[2015-10-08 20:37] knownasilya commented on #861
Thanks a bunch! FYI, we don't explicitly support Opera (no one does lol).

[2015-10-08 20:39] jet-snowman commented on #861
problem not in Opera, the key works on grid as you can see, but when I login in project button doesn't work. I think problem in JS with routers. Also Opera almost is the same as safari, chrome, webkit engine )

[2015-10-08 23:44] knownasilya commented on #861
I'll try a fresh install tomorrow and let you know how it fares.

[2015-10-09 04:09] carlitux opened #862 "CastError: Cast to ObjectId failed for value"
Cast to ObjectId failed for value "

" at path "_id" CastError: Cast to ObjectId failed for value "

" at path "_id"
    at ObjectId.cast (/home/strider/node_modules/mongoose/lib/schema/objectid.js:117:13)
    at ObjectId.castForQuery (/home/strider/node_modules/mongoose/lib/schema/objectid.js:167:17)
    at Query.cast (/home/strider/node_modules/mongoose/lib/query.js:2361:32)
    at Query.findOne

[2015-10-09 07:22] oliversalzburg commented on #862
Seems like this is a problem with `pre-commit` or the way it's used in your project. Can you provide any more details about the project and how/where this happens?

[2015-10-09 07:29] oliversalzburg commented on #861
1. [Your video link](https://play.boomstream.com/page.html?code=X1Ld3Pvv) leads to a 404 error page for me.
2. The **Configure** button behaves fine for me on Opera 32.0.1948.69 Windows 8.1 x64.
3. When the browser requests `https://ourserver.name/account/project/config`, Strider will respond with a 301 Moved Permanently with a location of `/account/project/config/` (it adds the trailing slash).

[2015-10-09 07:42] oliversalzburg commented on #861
@knownasilya I get the same `EPEERINVALID` error when running `npm install`

[2015-10-09 12:40] knownasilya commented on #861
Agreed, I've been doing that less and less across my projects. It's unfortunate that some projects don't follow semver, when the project they depend on does.

[2015-10-09 12:52] oliversalzburg commented on #861
In our projects we only use fixed versions for the dependencies and `~` for devDependencies. However, that would not have made any difference here :D

The key point I wanted to get across is, always declare the required minimum version for the dependency, even if `~` or `^` should match it.

[2015-10-09 15:17] carlitux commented on #862
pre-commit is just hit when we did *git commit* command here you can see happens all the time,

2015-10-09T04:01:06.220Z - error: Error retrieving job
 Cast to ObjectId failed for value "
" at path "_id" CastError: Cast to ObjectId failed for value "
" at path "_id"
    at ObjectId.cast (/home/strider/node_modules/mongoose/lib/schema/objectid.js:117:13)
    at ObjectId.castForQuery (/home/strider/

[2015-10-09 16:31] lifeispeachy301 opened #863 "relative paths for scripts and stylesheets"
Hello,

I am digging into strider for the first time and wondering if Strider is meant to be run under an nginx proxy that isn't the server root. For instance the following config works

[code]

but none of the javascript or css loads because they are relative to the root and not the path.

Does Strider only work when proxied from the server root? or is there something I can do to get it working w

[2015-10-09 21:10] knownasilya commented on #863
You are correct. Strider only works at the root or a sub-domain.

[2015-10-09 21:11] knownasilya commented on #862
Are you using Node 4.x?

[2015-10-09 21:14] carlitux commented on #862
With the project yes, but with strider is 0.10.38 I think.

On Fri, Oct 9, 2015, 5:11 PM Ilya Radchenko <notifications@github.com>
wrote:

[2015-10-09 21:14] knownasilya commented on #861
I just ran into the issue after restarting the browser.

[2015-10-11 12:23] oliversalzburg commented on #861
I faintly remember having an issue with trailing slashes as well. But I don't see how it is actually possible, since we're using https://github.com/avinoamr/connect-slashes

[2015-10-11 16:04] knownasilya commented on #861
I think it might be a bad client built..

[2015-10-12 08:52] oliversalzburg commented on #861
Interesting. Now I get this as well. Clicking the **Configure** button does not create a request to the server.

[2015-10-12 09:00] oliversalzburg commented on #861
Problem was introduced with 4e008b17ffc6b325f282024b2e9d66430368c331 Reverting the change fixes the issue.

[2015-10-12 12:56] knownasilya commented on #861
You only reverted the change on line 70? Does the issue it was intending to fix still fixed?

[2015-10-12 13:05] oliversalzburg commented on #861
@knownasilya When I click job IDs in the build list, I see the log for that build. So, I assume, yeah, the issue is still fixed. But I never experienced it in the first place.

[2015-10-12 14:39] knownasilya commented on #861
The issue was that when you refresh the page it wouldn't go back to the selected job, I think.

[2015-10-12 14:43] oliversalzburg commented on #861
Ah, I see. Yeah, that's broken.

[2015-10-13 13:50] knownasilya commented on #861
Latest version of master should be fixed

[2015-10-13 16:53] oliversalzburg commented on #861
Heh, now I got both bugs ;)

[code]

[2015-10-13 16:55] knownasilya commented on #861
Ok, I fully reverted the PR.

[2015-10-15 12:24] ouadi opened #865 "`Projects/Manual Add` accepts unspecified `Repository Authentication`"
Using **Strider** version `1.7.5`, the page `http://<host>:<port>/projects` doesn't stop creation of a project when none of the `Repository Authentication` options is selected.

The created project will be unusable as access to its configuration is impossible.

[2015-10-15 12:29] knownasilya commented on #865
There is a WIP pull request here https://github.com/Strider-CD/strider/pull/763 that tries to tackle some of the inadequacies of this section. Your feedback is appreciated.

[2015-10-15 13:56] ouadi commented on #865
I think that the [Set default auth type](2a27cff3a5aa91f6d5e05563b1977a16cfb149dc) is a solution given that:
* the page rejects the config in case the repos is an `ssh`, `http` or `https` repos
* `strider-git` can interpret it as **local git repos** (I have already submitted an issue for enhancement request in this regard).

[2015-10-15 14:12] ouadi commented on #114
@knownasilya

IMHO, managing downstream dependencies is a basic feature of CI/CD platforms.

While it is not straightforward to trigger build of downstream projects (managed by Strider) of a project managed outside of Strider, it by far more feasible to do so for a Strider-managed projects.

I highly vote for this feature in Strider.

[2015-10-15 14:12] knownasilya commented on #865
You'r links doesn't work.

[2015-10-15 14:17] ouadi commented on #865
Fixed. Sorry for any inconvenience.

[2015-10-15 14:49] ouadi commented on #429
I positively vote for this feature.

[2015-10-15 14:58] oliversalzburg commented on #429
The *easiest* way to trigger a build right now is to just call the provider webhook yourself. Not really an API, but it works.

[2015-10-15 15:09] ouadi commented on #429
Thank you @oliversalzburg

I'm new to **Strider**. I will look at the what can be done using *webhook* and report my finding here.

[2015-10-15 15:20] oliversalzburg commented on #429
@ouadi You can `POST` to `http://your.server/account/project/api/provider/webhook`. `provider` would be `gitlab` or `github`. I'm not quite sure about *what* you have to post though.

[2015-10-15 15:37] ouadi commented on #429
[Future Studio](https://futurestud.io/) site has nice materials on **Strider**. There, the authors have explained how to [setup git-based project and use 'git-update-hook' to start a build after each commit](https://futurestud.io/blog/strider-how-to-manually-add-git-or-gogs-repository-and-run-tests-automatically/).

The URL they provided (`http://<server>/<repos>/start`) is different from the one

[2015-10-15 15:43] oliversalzburg commented on #429
@ouadi Ah, I didn't even know about that :D Looks pretty solid, and easier than what I had in mind ;).

[2015-10-15 16:25] ouadi commented on #429
I have tried the URL you provided with no luck.

I have replaced:
* `account` by my `email` (my Strider user id)
* `project` by the `name` of my project (the value I have put for `namespace/name` in manual setup)
* `provider` by `git`

In your comment, you mentioned `github` and `gitlab` as `provider`s. Does this means that your URL will work only for this two providers?

[2015-10-15 16:46] oliversalzburg commented on #429
@ouadi It should work for other providers as well. But I'd go with the example from Future Studio. It looks to be more generic.

[2015-10-20 11:00] bariscicek opened #866 "SMTP server does not support TLS auth"
While configuring SMTP server it does not accept TLS auth configuation for nodemailer. Since most SMTP servers are running on TLS authentication nowadays, it is important to have mail functionality fluent.

[2015-10-20 11:56] oliversalzburg commented on #866
Doesn't nodemailer use STARTTLS by default if available?

[2015-10-20 12:24] bariscicek commented on #866
I realized main concern is SSL support. I am trying to setup my yandex account which requires SSL first before TLS. That means on plain text greeting nodemailer does not get reply.

To overcome this, i've added secureConnection: true, to strider-mailer. I am checking how strider getting ENV parameters, if everything works, I will send a pull request.

[2015-10-20 12:33] bariscicek commented on #866
Strange enough, when I check environment parameters, although I can see my SMTP_USER is set (echo $SMTP_USER on shell), when I print process.env, I can not see it there. SMTP_HOST, SMTP_POST, SMTP_PASS is there, but only SMTP_USER is missing. For that reason I could not test my implementation, yet.

[2015-10-20 13:07] bariscicek opened #867 "Invitation revoke can not send information e-mail because of missing sender email"
When an invitation code is revokes, strider tries send an e-mail but recipient email is not supplied to mailer.send().

That might need post /invoke/revoke api change.

[2015-10-21 14:07] meric426 commented on #790
Sorry for posting in an old issue but i've told github to remove the "fork"-part of Strider-CD/strider-gitlab and I've given @oliversalzburg, @saraf and @knownasilya permission to publish to the strider-gitlab package

[2015-10-21 14:19] knownasilya commented on #790
:+1: just waiting on the travis part to merge your PR.

[2015-10-22 08:28] oliversalzburg commented on #790
@meric426 Thanks a lot! It's appreciated :)

[2015-10-22 20:59] bariscicek commented on #866
https://github.com/bariscicek/strider-mailer/commit/f5146b547254080d765a5bc9844406d7cdea5d23

[2015-10-22 21:46] bariscicek opened #869 "Strider invite code validates any e-mail address"
In case of using valid invite code, register accepts any e-mail address to be used for register. This is not only security problem, but also using existing e-mail in system is possible.

Invite code validation should also consider e-mail invite sent to, and also e-mail in user model should be a unique field.

[2015-10-22 22:17] notbrain opened #871 "Is there a way to *not* run npm install by default?"
I am using custom scripts to install, test, and deploy, but for some reason strider follows the initial clone with `npm install` no matter what, and I can't find where to disable it. Is this possible? I want to avoid running this more than once since my build process already includes a fresh install step.

[2015-10-23 00:59] knownasilya commented on #871
Personally I'd take the strider `npm install`, because that is cached, while your custom one isn't.

[2015-10-23 05:09] tbouron opened #872 "Heroku: 400 on socket.io"
So I have upgraded my Strider, deployed on Heroku to the latest version `1.7.5` and I notice that XHR requests to socket.io fail, both in `http` or `https`.

![capture d ecran 2015-10-23 a 06 07 23](https://cloud.githubusercontent.com/assets/2082759/10685038/8b53b82a-794c-11e5-97fd-32d573b5de18.png)

 Here is the response I got:

    {"code":0,"message":"Transport unknown"}

[2015-10-23 06:42] srh-work opened #873 "SSH deploy with multiple users"
Hi.

I wondering if it's possible to deploy in multiple hosts with different usernames.
[code]
The SSH deploy plugin allows me to use multiple hosts but with the same username.

Please forgive me if this is a dumb question and I only need to set up better. I am new to using Strider.

Thank you.

[2015-10-23 07:43] oliversalzburg commented on #866
@bariscicek Personally, I would prefer being able to control the behavior through an environment variable instead of relying on a specific port being used. Especially since the rest of the SMTP configuration is done through environment variables as well. What do you think?

[2015-10-23 07:50] oliversalzburg commented on #871
I also don't see an option to disable it and I agree with @knownasilya here. But I guess, having the option wouldn't hurt either.

[2015-10-23 07:51] oliversalzburg commented on #873
I don't think this is possible right now. You might be able to do it with a custom script though.

[2015-10-23 07:56] oliversalzburg commented on #872
So it worked before the upgrade? If so, what version were you running? Did you also upgrade other packages?

[2015-10-23 08:13] tbouron commented on #872
@oliversalzburg Yes, it worked before, I was using the version `1.6.0-pre.2`. I know, that is pretty old but it suited my needs so far.

Then came the mongolab update to 3.0 and Strider became unable to connect to the db anymore. That's why I did the upgrade to the latest version of Strider. The version deployed is exactly the same as what is tag within the git repo. I didn't upgrade any other pac

[2015-10-23 08:24] oliversalzburg commented on #872
I'm not sure about all the things that changed since 1.6.0, but my initial reaction was, that this could be related to an improper reverse-proxy setup. 1.6.0 probably used an older socket.io version, which might have had fallback mechanisms which are no longer supported.

I know that we have to configure the `/socket.io` route specifically in our nginx setup for it to work right.

Does that sounds